  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     <a routerLink="/create"><button type="button" class="btn button-1 action-good">Create Event</button></a>
     <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active mx-2">
        <select class="form-control" [(ngModel)]="cat" (change)=getDataWithCat()>
          <option  value="" hidden>Please Select Category</option>
           <option *ngFor="let cate of categoryList" [value]="cate.name">{{cate.displayName}}</option>
        </select>

      </li>

      <li class="nav-item ml-2">
        <div class="form-inline my-2 my-lg-0">
        <input class="form-control" [(ngModel)]="searchBlog" type="search" placeholder="Search" aria-label="Search">
          <button class="btn button-2 action-info" (click)="blogSearch()">Search</button>
        </div>
      </li>
    </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row  mt-2">
      <div class="col-sm-4" *ngFor="let card of filterBlogs">
          <div class="card mb-3">
          <img [src]="card.thumbnailImageUrl" class="card-img-top" alt="Image not available" height="200px;">
          <div class="card-body">
            <h5 class="card-title">{{card.title}}</h5>
            <p class="card-text">{{card.desciption}}</p>
          </div>
          <div class="event-card-body">
            <!-- <p class="card-text">{{card.totalSeat}}</p>
            <p class="card-text">{{card.targetUserType.name}}</p> -->
          </div>
          <div class="event-card-body-footer text-center">
            <!-- <a [routerLink]="['/details']"><button type="button" class="btn py-1 px-3 button-1 action-info">View Details</button></a> -->
            <a><button type="button" class="btn py-1 px-3 button-1 action-info" (click)="getDetails(card.id)">View Details</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

