  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     <a routerLink="/create"><button type="button" class="btn button-1">Create Event</button></a>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active mx-2">
          <select class="form-control">
            <option>Select Category</option>
            <option>Sports</option>
            <option>Business</option>
          </select>
        </li>
        <li class="nav-item mx-2">
          <select class="form-control">
            <option>Select Tag</option>
            <option>Service</option>
            <option>Cloud</option>
          </select>
        </li>
        <li class="nav-item ml-2">
          <select class="form-control">
            <option>Select Date</option>
            <option>Today</option>
            <option>Yesterday</option>
          </select>
        </li>
        <li class="nav-item ml-2">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn button-2" type="submit">Search</button>
          </form>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container-fluid">

    <div class="row  mt-2">
      <div class="col-sm-4">
          <div class="card">
          <img src="https://in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-road-to-ultra-india-2020-2-18-t-18-2-38.jpg" class="card-img-top" alt="..." height="200px;">
          <div class="card-body">
            <h5 class="card-title">Event Title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="event-card-body">
            <p class="card-text">Date</p>
            <p class="card-text">Category</p>
            <!-- <p class="card-text">Speaker</p> -->
          </div>
          <div class="event-card-body-footer text-center">
            <a [routerLink]="['/details']"><button type="button" class="btn btn-outline-primary py-1 px-3">View Details</button></a>
            <!-- <a href="#" class="card-link">View Details >></a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
        <img src="https://in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-road-to-ultra-india-2020-2-18-t-18-2-38.jpg" class="card-img-top" alt="..." height="200px;">
        <div class="card-body">
          <h5 class="card-title">Event Title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="event-card-body">
          <p class="card-text">Date</p>
          <p class="card-text">Category</p>
          <!-- <p class="card-text">Speaker</p> -->
        </div>
        <div class="event-card-body-footer text-center">
          <a [routerLink]="['/details']"><button type="button" class="btn btn-outline-primary py-1 px-3">View Details</button></a>
          <!-- <a href="#" class="card-link">View Details >></a> -->
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
      <img src="https://in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-road-to-ultra-india-2020-2-18-t-18-2-38.jpg" class="card-img-top" alt="..." height="200px;">
      <div class="card-body">
        <h5 class="card-title">Event Title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="event-card-body">
        <p class="card-text">Date</p>
        <p class="card-text">Category</p>
        <!-- <p class="card-text">Speaker</p> -->
      </div>
      <div class="event-card-body-footer text-center">
        <a [routerLink]="['/details']"><button type="button" class="btn btn-outline-primary py-1 px-3">View Details</button></a>
        <!-- <a href="#" class="card-link">View Details >></a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
    </div>
  </div>

