.event-card-body p {
  font-size: 13px;
  margin: 0;
  padding: 0.1rem 0.8rem;
}

.event-card-body-footer {
  padding: 10px 20px;
}

.card-body .card-title {
  font-size: 18px;
  margin-bottom: 0.2rem;
}

.card-body .card-text {
  font-size: 14px;
  margin-bottom: 0.2rem;
}

.card-body {
  padding: 0.8rem 0.8rem 0.3rem 0.8rem;
}

.card {
  height: 100%;
}

.search-icon:hover {
  width: 300px;
}

.modal-remove {
  background: #fff;
  border: 2px solid #e3e3e3;
  border-radius: 50%;
  font-size: 30px;
  height: 50px;
  opacity: 1;
  width: 50px;
  z-index: 999;
}

.close:hover {
  box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.7);
  opacity: 1 !important;
}

.modal-dialog {
  width: 800px !important;
}

.btn-outline-info {
  border-color: #17a2b8;
  color: #17a2b8;
  width: 90px;
}

.accordion .card-header::before {
  /* content: "\f068"; */
  content: '\f139';
  float: right;
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
}

.accordion .card-header.collapsed::before {
  /* symbol for "collapsed" panels */

  /* content: "\f067"; */

  content: '\f13a';
}
