.header-shadow {
  box-shadow: gray 0 0 10px -4px;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 0;
  border-top: 2px solid #2c3a8b;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

a {
  color: #231f20;
}

a:hover {
  color: #231f20;
  text-decoration: none;
}

.user-menu a {
  list-style: none !important;
}

.dropdown-menu > li > a {
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857143;
  padding: 10px 40px 10px 16px !important;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
}

.user-image {
  border-radius: 50%;
  float: left;
  height: 25px;
  margin-right: 10px;
  margin-top: -2px;
  width: 25px;
}

.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.user-header > img {
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  height: 90px;
  width: 90px;
  z-index: 5;
}

.img-circle {
  border-radius: 50%;
}

.user-header > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
  z-index: 5;
}

.user-footer {
  background-color: #f9f9f9;
}

ul {
  margin-bottom: 1px;
  margin-top: 1px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
