.bg-dark {
  background-color: #040b18 !important;
}

.blog .card {
  background: #fff;
  border: 0;
  border-radius: 0;
  transition: background 0.25s;

  /* cursor: none; */
}

.blog .card:hover {
  background: #fff;
  transition: background 0.25s;
}

.blog .card .card-block {
  background: #fff;
  min-height: 160px;
  padding: 1.1rem;
}

.blog .card .card-block .category {
  background-color: #189cd5;
  color: #dd0042;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  line-height: 100%;
  margin-bottom: 0.4rem;
  padding: 4px 8px 2px;
  text-transform: uppercase;
  width: fit-content;
}

.blog .card .card-block .card-title {
  color: #0b428a;
  font-size: 16px;
  min-height: 45px;
}

.heading-secondary {
  color: #0b428a;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 10px !important;
}

.category-link {
  background: transparent;
  border: 1px solid #0b428a;
  border-radius: 25px;
  color: #0b428a !important;
  cursor: pointer;
  font-size: 11px;
  padding: 7px 20px;
  text-align: right;
  width: auto;
}

.blog-card {
  height: 100%;
  width: 100%;
}

.blog-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.text-center {
  padding: 100px;
}
