<section class="blog">
  <div class=" text-center">
    <p class="heading-secondary py-4">
Blogs
    </p>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="https://www.netmagicsolutions.com/data/blog/Best%20practices%20for%20choosing%20the%20right%20enterprise%20network19-12-091575897009.jpg" class="w-100">
          <div class="card-block">
              <h3 class="card-title">Best practices for choosing the right enterprise network service provider</h3>
            <!-- <div class="category">Read More >></div> -->
            <p>Synopsis: Enterprises today need to evaluate their WAN partner carefully than ever befor...</p>
            <div class="text-right">
              <a class="category-link">Read More</a>
             </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img src="https://www.netmagicsolutions.com/data/blog/Amazon%20Storage%20Gateway19-01-101547104280.jpg" class="w-100">
          <!--  <div class="card-img-top" alt="Card image cap"></div>-->
          <div class="card-block">
              <h3 class="card-title">Using Amazon Storage Gateway for Your Backup Needs</h3>
            <!-- <div class="category">Read More >></div> -->
            <p>With the ability to scale quickly without linear add-on costs, a hyperscale datacenter w...</p>
            <div class="text-right">
              <a class="category-link">Read More</a>
             </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img src="https://www.netmagicsolutions.com/data/blog/SOC%20make%20your%20organization%20hack-proof19-08-081565250835.jpg" class="w-100">
          <!--  <div class="card-img-top" alt="Card image cap"></div>-->
          <div class="card-block">
              <h3 class="card-title">Does a SOC make your organization hack-proof?</h3>
              <p>The Amazon Storage Gateway is one of the most frequently used storage and backup services fr...</p>
            <!-- <div class="category">Read More >></div> -->
           <div class="text-right">
            <a class="category-link">Read More</a>
           </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
