<div>
  <ul class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/cases">Case Studies</a></li>
    <li><a class="active">View Case Study </a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="panel panel-info preview-card">
        <div class="panel-body p-3">
          <div class="row">
            <div class="col-md-4 col-lg-4 text-center">
              <div>
                <img
                  alt="User Pic"
                  [src]="
                    cases.thumbnailImageUrl != null
                      ? cases.thumbnailImageUrl
                      : 'https://www.netmagicsolutions.com/data/article/hyperscale-data20-03-041583322167.jpg'
                  "
                  class="img-circle img-responsive"
                  width="100%"
                  alt="No Image preview"
                />
              </div>
              <!-- <div class="py-3">
                <p class="m-0"><b>Industry : </b>{{ cases.resourceTags[0].name }}</p>
                <p class="m-0"><b>Service : </b>{{ cases.resourceTags[0].name }}</p>
              </div> -->
            </div>

            <div class="col-md-7 col-lg-7 p-0">
              <div class="panel-heading">
                <!-- <h1 style="font-size: 25px; color: #008ece;">
                  {{ cases.title }}
                </h1>
                <br/> -->
                <p><b>Client Name : </b>{{ cases.title }}</p>
                <p><b>Industry : </b>{{ cases.resourceTags[0].name }}</p>
                <p><b>Service : </b>{{ cases.resourceTags[0].name }}</p>
              </div>
            </div>

            <!-- <div class="col-sm-8 customULL service cpadl">
              <p class="m-0"><b>Client Name : </b>{{ cases.title }}</p>
              <p class="m-0"><b>Industry : </b>{{ cases.resourceTags[0].name }}</p>
                <p class="m-0"><b>Service : </b>{{ cases.resourceTags[0].name }}</p>
            </div> -->

            <div class="col-sm-1 edit">
              <button class="btn" (click)="editcaseRoute()">
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </button>
              <br /><br /><br />
              <a *ngIf="cases.resourceLink != null" [href]="cases.resourceLink" target="_blank">
                <button class="btn button-1 action-good">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button
              ></a>
            </div>

            <div class="col-md-12 col-lg-12 pt-3">
              <hr class="mt-0" />
              <p><b>Service Used : </b>{{ cases.serviceUsed }}</p>
              <hr />
              <b style="font-size: 20px;">Customer Profile</b>
              <p>{{ cases.longDescription }}</p>
              <hr />
              <div class="row">
                <div class="col">
                  <p class="m-0"><b>Published Date : </b>{{ cases.createdAt | date }}</p>
                </div>
                <div class="col">
                  <p class="m-0" style="float: right;"><b>Expired Date : </b>{{ cases.expiryDate | date }}</p>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-12 col-lg-12 text-center">
              <a [href]="cases.resourceLink" target="_blank"><button class="btn button-1 action-good">View PDF</button></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
