<div>
  <ul class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/cases">Case Studies</a></li>
    <li><a class="active">View Case Study </a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-body p-3">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <div>
                <img alt="User Pic"
                  [src]="cases.thumbnailImageUrl!=null?cases.thumbnailImageUrl:'https://www.netmagicsolutions.com/data/article/hyperscale-data20-03-041583322167.jpg'"
                  class="img-circle img-responsive" width="100%" alt="No Image preview" height="200px">
              </div>
              <div class="py-3">
                <h6>Client : </h6>
                <h6>Industry : </h6>
              </div>
            </div>
            <div class="col-sm-9 customULL col-md-9 service cpadl">
              <span>Services Used: </span><br>
              <ul>
                <li>{{cases.serviceUsed}}</li>
              </ul>
            </div>
            <div class=" col-md-12 col-lg-12 py-3">
              <h1 style="font-size:25px;color:#008ECE;">Customer Profile</h1>
              <p>{{cases.customerProfile}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
