/* .table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
} */

/* .table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}

.shadow{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.table-user-information > tbody > tr > td:first-child{
  width: 24.4%;
  font-weight: 500;
  display: none;
}



.table td, .table th {
  padding: 0.6rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
} */
.edit .btn:hover {
  background: #324da1;
}

.edit .btn {
  background: #2c98de;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  color: #fff;
  font-size: 1.5em;
  height: 50px;
  left: 0%;
  outline: none;
  position: absolute;
  top: 0%;
  width: 50px;
  z-index: 1;
}

.cpadl {
  padding-left: 50px;
}

/* .service ul {
  list-style-image: url(/src/assets/pngwave.png);
} */
ol,
ul {
  padding-left: 0;
}

.service ul li {
  /* padding-top: 10px; */
  padding-left: 0;
}

.mainBlock li {
  margin-bottom: 10px;
  margin-left: 15px;
}

.service ul {
  list-style: none;
  margin: 0.75em 0;
  padding: 0 1em;
}

.service li::before {
  border-color: transparent #008ece;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  content: '';
  display: block;
  height: 0;
  left: -1em;
  position: relative;
  top: 0.9em;
  width: 0;
}

.preview-card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
