<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a href="/home">Home</a></li>
      <li><a class="active">Event Data</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <section class="section-tours">
    <div class="row" style="padding: 0.5rem 1rem;">
      <mat-card class="p-0 m-3 cloud-card">
        <div class="card-display px-2">
          <div class="wht-color">
            events invitees lead data
          </div>
        </div>
        <div class="text-center">
          <a routerLink="./invitee-data">
            <button mat-button class="wht-color" style="border: 1px solid #fff;">View Data</button>
          </a>
        </div>
      </mat-card>

      <mat-card class="p-0 m-3 cloud-card">
        <div class="card-display px-2">
          <div class="wht-color">
            events Joinees lead data
          </div>
        </div>
        <div class="text-center">
          <a routerLink="./joinee-data">
            <button mat-button class="wht-color" style="border: 1px solid #fff;">View Data</button>
          </a>
        </div>
      </mat-card>
    </div>
  </section>
</div>
