.whitepaper-card {
  height: 450px;
  width: 280px;
}

.whitepaper-img {
  height: 360px;
  width: 280px;
}

.whitepaper-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 8px;
  word-break: break-all;
}

.text-center {
  padding: 100px;
}

.article-card {
  height: 426px;
  width: 292px;
}

.article-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;

  /* min-height: 50px; */
  padding: 8px;
  word-break: break-all;

  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  word-break: break-all; */
}

.article-img {
  height: 360px;

  /* min-height: 250px; */

  width: 292px;
}

.fa {
  font-size: 10px;
}

.card-header .fa {
  transition: 0.3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(180deg);
}
