.whitepaper-card {
  height: 450px;
  width: 280px;
}

.whitepaper-img {
  height: 360px;
  width: 280px;
}

.whitepaper-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 16px;
  word-break: break-all;
}

.text-center {
  padding: 100px;
}
