table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 75%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  display: flex;
  overflow: hidden;
}

.example-element-diagram {
  border: 2px solid black;
  font-weight: lighter;
  height: 104px;
  margin: 8px 0;
  min-width: 80px;
  padding: 8px;
}

.example-element-symbol {
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.table th {
  border-top: 1px solid #dee2e6;
  color: #868585;
  font-weight: 400;
  padding: 0.8rem;
  vertical-align: top;
}

.assignee-button {
  background: #03c;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 3px 14px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding-left: 3%;
}
