
<div class="container">
  <h5>Banner Configuration</h5>
  <div class="row mx-0">
    <div class="col-md-4 mr-3">
      <p>Choose Banner 1</p>
      <form [formGroup]="bannerConfigurationForm1">
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public" >Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Block</mat-label>
            <mat-select formControlName="datafieldType" #block (selectionChange)="getSelectedBlockData(block.value,'banner1')">
              <mat-option *ngFor="let block of blocks" [value]="block.url">{{block.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Data According to Block Selected</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of selectBlockData1" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBanner" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </form>
    </div>
    <div class="col-md-4 mr-3">
      <p>Choose Banner 2</p>
      <form [formGroup]='bannerConfigurationForm2'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public" >Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Block</mat-label>
            <mat-select formControlName="datafieldType" #block1 (selectionChange)="getSelectedBlockData(block1.value,'banner2')">
              <mat-option *ngFor="let block of blocks" [value]="block.url">{{block.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Data According to Block Selected</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of selectBlockData2" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBanner" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </form>
    </div>
    <div class="col-md-4">
      <p>Choose Banner 3</p>
      <form [formGroup]='bannerConfigurationForm3'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Block</mat-label>
            <mat-select formControlName="datafieldType" #block2 (selectionChange)="getSelectedBlockData(block2.value,'banner3')">
              <mat-option *ngFor="let block of blocks" [value]="block.url">{{block.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Data According to Block Selected</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of selectBlockData3" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBanner" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </form>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" (click)="submitBanner()" class="btn button-1 action-good">Submit</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Event Configuration</p>
      <form [formGroup]='eventConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of eventData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit" (click)="submitEvent()" class="btn button-1 action-good" [disabled]="!eventConfigurationForm.valid">Submit
            Details</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <p>Articles Configuration</p>
      <form [formGroup]='articleConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of articleData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit" (click)="submitArticle()" [disabled]="!articleConfigurationForm.valid" class="btn button-1 action-good">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Blogs Configuration</p>
      <form [formGroup]='blogsConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of blogData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit" (click)="submitBlog()" [disabled]="!blogsConfigurationForm.valid" class="btn button-1 action-good">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <p>Videos Configuration</p>
      <form [formGroup]='videosConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public" >Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of videoData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit" (click)="submitVideo()" [disabled]="!videosConfigurationForm.valid" class="btn button-1 action-good">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>WhitePapers Configuration</p>
      <form [formGroup]='whitePaperConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of whitePaperData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit" (click)="submitWhitpapers()" [disabled]="!whitePaperConfigurationForm.valid" class="btn button-1 action-good">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <p>Case Study Configuration</p>
      <form [formGroup]='caseStudyConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of caseStudyData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
<!--
        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit" (click)="submitCases()" [disabled]="!caseStudyConfigurationForm.valid" class="btn button-1 action-good">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>News Configuration</p>
      <form [formGroup]='newsConfigurationForm'>
        <div class="form-row">
          <div class="example-full-width">
            <mat-label>Select User Type</mat-label>
            <section class="example-section" >
              <mat-checkbox class="example-margin" formControlName="public">Public</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="customer">Customer</mat-checkbox>
            </section>
          </div>
        </div>

        <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Select Banner Entity</mat-label>
            <mat-select formControlName="dataFieldId">
              <mat-option *ngFor="let block of newsData" [value]="block.id">{{block.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence Number</mat-label>
            <mat-select formControlName="sequenceNumber">
              <mat-option *ngFor="let sequenceNumber of sequenceNumbersBannerBlock" [value]="sequenceNumber">{{sequenceNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="text-right">
          <button type="submit"  (click)="submitNews()" [disabled]="!newsConfigurationForm.valid" class="btn button-1 action-good">Submit</button>
        </div>
      </form>
    </div>

  </div>
</div>
