<app-loader *ngIf="show"></app-loader>
<div>
  <ul class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/testimonials">Testimonial</a></li>
    <li>
      <a class="active">{{ title }}l</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center">
        <p class="heading-secondary">{{ title }}</p>
      </div>

      <form [formGroup]="createVideoForm">
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Publisher Name <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Publisher Name is required &#13;2. Publisher Name should be upto 40 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Publisher Name" formControlName="title" value="" />
            <mat-error *ngIf="checkError('title', 'required')">(Publisher Name is required)</mat-error>
            <mat-error *ngIf="checkError('title', 'maxlength')">(Publisher Name should be upto 40 characters)</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Publisher Designation <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Publisher Designation is required &#13;2. Publisher Designation should be upto 40 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Publisher Designation" formControlName="shortDescription" value="" />
            <mat-error *ngIf="checkError('shortDescription', 'required')">(Publisher Designation is required)</mat-error>
            <mat-error *ngIf="checkError('shortDescription', 'maxlength')">(Publisher Designation should be upto 40 characters)</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Long Description <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Long Description is required &#13;2. Long Description should be upto 300 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="longDescription" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('longDescription', 'required', true)" style="color: red; font-size: 12px;">
              (Long Description is required)
            </div>
            <div *ngIf="checkError('longDescription', 'rTextValid', true)" style="color: red; font-size: 12px;">
              (Description should be upto 300 characters)
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Targeted User <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Target User</mat-label>
            <mat-select formControlName="targetUserType" [(ngModel)]="tarUserType">
              <mat-option *ngFor="let user of userList" [value]="user.id">
                {{ user.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('targetUserType', 'required')">(Atleast one Target User Type is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">
            Logo <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Resolution: 240px X 120px &#13;Type: png/ jpg/ jpeg &#13;Size: Upto 300 kB"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>

          <div class="col-sm-7">
            <input type="file" class="form-control-file" formControlName="thumbnailImageUrl" (change)="fileProgress($event)" />
            <mat-error *ngIf="checkError('thumbnailImageUrl', 'pattern')" style="color: red; font-size: 12px;"
              >(Image should be JPEG, JPG, PNG)</mat-error
            >
          </div>
          <div class="col-sm-2">
            <button
              type="button"
              class="btn button-1 action-good"
              [ngClass]="{ cursor: !imageValid }"
              (click)="uploadImage()"
              [disabled]="!imageValid"
            >
              Upload File
            </button>

            <div *ngIf="fileUploadProgress">Upload progress: {{ fileUploadProgress }}</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="image-preview" *ngIf="previewUrl">
              <img [src]="previewUrl" height="200" />
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">
            Publisher Image <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Resolution: 100px X 100px &#13;Type: png/ jpg/ jpeg &#13;Size: Upto 300 kB"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-7">
            <input type="file" class="form-control-file" formControlName="detailImageUrl" (change)="fileProgress1($event)" />
            <mat-error *ngIf="checkError('detailImageUrl', 'pattern')" style="color: red; font-size: 12px;"
              >(Image should be JPEG, JPG, PNG)</mat-error
            >
          </div>
          <div class="col-sm-2">
            <button
              type="button"
              class="btn button-1 action-good"
              [ngClass]="{ cursor: !imageValid1 }"
              (click)="uploadImage1()"
              [disabled]="!imageValid1"
            >
              Upload File
            </button>
            <div *ngIf="fileUploadProgress">Upload progress: {{ fileUploadProgress }}</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="image-preview" *ngIf="previewUrl1">
              <img [src]="previewUrl1" height="200" />
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Save as draft</label>
          <mat-slide-toggle class="example-full-width col-sm-9" (change)="OnDraft($event)" formControlName="isDraft"
            >Draft</mat-slide-toggle
          >
        </div>

        <div class="text-right">
          <button type="submit" (click)="generateBlog()" class="btn button-1 action-good">{{ submitBtnCaption }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
