.cloud-card {
  background-color: #377afe;
  height: 100%;
  padding: 1.5rem !important;
  text-align: center;
  top: 86px;
  width: 227px;
}

.mat-card-image {
  max-width: 150px;
  min-width: 150px;
  position: relative;
}

.btn {
  border-radius: 20px !important;
}

.btn-class {
  background-color: blue;
  border-radius: 50%;
  color: white;
  left: 255px;
  position: absolute;
}

.wht-color {
  color: white;
}

.event-card-body-footer {
  padding: 10px 20px;
}
