<div class="row justify-content-end px-5">
 <a routerLink="/create-speaker"> <button type="button" class="btn button-1 action-good">Add Speaker</button></a>
</div>
<div class="container d-flex">
  <div style="min-width: 33%;cursor: pointer;">
    <a class="d-flex card-details" routerLink="/speaker-update">
      <div>
        <img src="https://storage.googleapis.com/dfua-test.appspot.com/images/speakers/chet-haase.jpg" class="photo">
      </div>
      <div class="details">
        <h2 class="name">John Smith</h2>
        <div class="origin">abc@gmail.com</div>
        <div class="sessions">
          <h6>Musician</h6>
        </div>
      </div>
    </a>
  </div>
  <div style="min-width: 33%;cursor: pointer;">
    <a class="d-flex card-details" routerLink="/speaker-update">
      <div>
        <img src="https://storage.googleapis.com/dfua-test.appspot.com/images/speakers/chet-haase.jpg" class="photo">
      </div>
      <div class="details">
        <h2 class="name">Joly Smith</h2>
        <div class="origin">abc@gmail.com</div>
        <div class="sessions">
          <h6>Communist</h6>
        </div>
      </div>
    </a>
  </div>
  <div style="min-width: 33%;cursor: pointer;">
    <a class="d-flex card-details" routerLink="/speaker-update">
      <div>
        <img src="https://storage.googleapis.com/dfua-test.appspot.com/images/speakers/chet-haase.jpg" class="photo">
      </div>
      <div class="details">
        <h2 class="name">John Adams</h2>
        <div class="origin">abc@gmail.com</div>
        <div class="sessions">
          <h6>Activist</h6>
        </div>
      </div>
    </a>
  </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;padding: 0;">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close p-0 modal-remove " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Full Name">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="abc@gmail.com">
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="Contact Number">
          </div>
          <div class="form-group">
            <label>Designation</label>
            <input type="text" class="form-control" placeholder="Speaker Profile">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mb-2 mt-3" data-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
  </div>
</div>
