<div>
  <ul class="breadcrumb">
     <li><a href="/events">Home</a></li>
     <li><a class="active">Speakers</a></li>
  </ul>
</div>
<div class="row justify-content-end pr-4 pb-3 pt-1">
 <a routerLink="/create-speaker"> <button type="button" class="btn button-1 action-good">Add Speaker</button></a>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let cd of cardData">
    <a class="d-flex card-details" (click)="getDetails(cd.id)">
      <div style="width: 30%;">
        <img [src]="cd.profileImageUrl" class="photo">
      </div>
      <div class="details">
        <h2 class="name">{{cd.fullName}}</h2>
        <div class="origin">{{cd.email}}</div>
        <div class="sessions">
          <h6>{{cd.profile}}</h6>
        </div>
      </div>
    </a>
  </div>
</div>
