<div class="row justify-content-end pr-4 pb-3 pt-1">
 <a routerLink="/create-speaker"> <button type="button" class="btn button-1 action-good">Add Speaker</button></a>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let cd of cardData">
    <a class="d-flex card-details" routerLink="/speaker-details">
      <div>
        <img [src]="cd.img" class="photo">
      </div>
      <div class="details">
        <h2 class="name">{{cd.spName}}</h2>
        <div class="origin">{{cd.spEmail}}</div>
        <div class="sessions">
          <h6>{{cd.spProfile}}</h6>
        </div>
      </div>
    </a>
  </div>
</div>
