<div>
  <ul class="breadcrumb">
     <li><a routerLink="/home">Home</a></li>
     <li><a class="active">Participants</a></li>
  </ul>
</div>
 <div class="text-center">
  <p class="heading-secondary">{{eName}}</p>
</div>
  <div class="container">
<div class="row justify-content-end pb-4">
  <a> <button type="button" routerLink="/participant-add" class="btn button-1 action-good">Add Participant</button></a>
 </div>


    <div class="row bg-white py-3 panel">
        <div class="col-md-12">
          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap">
            <table id="datatables" #datatable  class="row-border hover"></table>
         </div>
        </div>
    </div>


 <!-- </div> -->
<!-- <table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Participants Name</th>
      <th>EmailId</th>
      <th>Contact No.</th>
      <th>Org Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData">
      <td>{{data.eventId}}</td>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phoneNumber}}</td>
      <td>bellurbis</td>
      <td>action</td>
    </tr>
  </tbody>
</table> -->
<!-- <table id="datatables" #datatable  class="row-border hover"></table> -->
