<div>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a (click)="BackMe()">Videos</a></li>
     <li><a class="active">Create Videos</a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center">
        <p class="heading-secondary">Create Video</p>
      </div>

      <form [formGroup]='createVideoForm' >

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Title <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Title" formControlName="title" value="" maxlength="200">
            <mat-error *ngIf="checkError('title', 'required')">(Title is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Long Description <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <textarea matInput placeholder="Description..." formControlName="longDescription" maxlength="8000" rows="4"></textarea>
            <mat-error *ngIf="checkError('longDescription', 'required')">(Long Description is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Short Description <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <textarea matInput placeholder="Details..." formControlName="shortDescription" maxlength="3000" rows="2"></textarea>
            <mat-error *ngIf="checkError('shortDescription', 'required')">(Short Description is required)</mat-error>
          </mat-form-field>
        </div>



        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Category <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option *ngFor="let category of catagoryData" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('categoryId', 'required')">(Atleast one Category is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Tags <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Tags</mat-label>
            <mat-select multiple formControlName="tagList">
            <mat-option *ngFor="let tag of tagData" [value]="tag">{{tag.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('tagList', 'required')">(Atleast one Tag is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9 text-right">
            <button type="button" class="btn btn-primary button-2 action-good" data-toggle="modal"
              data-target="#tagModal1">Add Tags</button>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Targeted User <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Event Type</mat-label>
            <mat-select formControlName="targetUserType">
              <mat-option *ngFor="let user of userList" [value]="user.id">
                {{user.displayName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('targetUserType', 'required')">(Atleast one Target User Type is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Video URL  <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Video URL" formControlName="downloadUrl" value="">
            <mat-error *ngIf="checkError('downloadUrl', 'required')">(Video URL is required)</mat-error>
          </mat-form-field>
        </div>



        <div class="form-row">
          <label class="col-sm-3 col-form-label">Image <span class="error">*</span></label>
          <div class="col-sm-7">
          <input type="file" class="form-control-file" formControlName="thumbnailImageUrl"
            (change)="fileProgress($event)" />
            <mat-error *ngIf="checkError('thumbnailImageUrl', 'pattern')" style="color:red;font-size: 12px;">(Image should be JPEG, JPG, PNG)</mat-error>
          </div>
            <div class="col-sm-2">
            <button class="btn btn-primary" (click)="uploadImage()" [disabled]="!imageValid">Upload File</button>
            <div *ngIf="fileUploadProgress">
              Upload progress: {{ fileUploadProgress }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="200" />
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Save as draft</label>
          <mat-slide-toggle class="example-full-width col-sm-9" formControlName="isDraft">Draft</mat-slide-toggle>
        </div>

        <div class="text-right">
          <button type="submit" (click)='generateBlog()' [disabled]='!createVideoForm.valid' class="btn button-1 action-good">Submit
            Details</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="tagModal1" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;padding: 0;">
        <button type="button" #closeModel class="close p-0 modal-remove " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]='addTagForm'>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Tag Name</label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Tag Name" formControlName="name">
            </mat-form-field>
          </div>
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Tag Keyword</label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput  placeholder="Keyword Name" formControlName="keywords">
            </mat-form-field>
          </div>

          <div class="text-right">
            <button class="btn button-1 action-good"   (click)="createTag()">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
