<div class="container">
  <h2 class="text-center">PRIVACY NOTICE</h2>
  <h5>Introduction</h5>
  <p>
    We at NTT-Netmagic are committed to protecting the privacy and security of your personal data. We advise you to carefully read this
    Privacy Notice (“Notice”) so that you are aware of how we collect, share and use your personal data, and how you can exercise your
    privacy rights. NTT Ltd (NTT- netmagic) and its direct and indirect affiliates and subsidiaries (collectively “NTT Ltd” “us” and “we”)
    understand the importance of protecting your personal data. This Notice applies to all individuals who access our website (“Website”),
    to all customers of NTT-Netmagic (“Customers”), to all vendors of NTT-Netmagic (“Vendors”), to all individuals who participate in our
    recruitment activities, events, or promotional events, and to all individuals and/ or stakeholders involved in any transaction with
    NTT-Netmagic.
  </p>
  <p>
    ‘Personal data’ in this Notice refers to any information that tells us something about you or that we can link to you. This includes
    your name, address, date of birth, account number, IP address or information about payments you’ve made from your bank account and such
    other specific and identifiable information, which otherwise is not available in public domain. This Privacy Notice applies to personal
    data that we collect from you during your interactions with us, whether online, including through our websites (including mobile sites)
    and social media sites (“Sites”), mobile applications (“Apps”) (collectively “Online Services”) that link to this Privacy Notice, in
    writing or orally, or personal data that we may collect offline or receive from third parties.
  </p>
  <br />
  <h5>Personal Data We May Collect</h5>
  <p>The personal data that we may collect about you when you visit our website/application broadly fall into the following categories:</p>
  <h6>Information that you provide voluntarily</h6>
  <p>
    We collect personal data that you provide voluntarily through our Website, for example when completing online forms to contact us or
    register for events that we are organising. The information we collect about you may include some or all of the following: Name and job
    title, Age and gender, Address, Company or organisation name, Contact information, including email address and telephone number(s),
    Log-in and account information for authentication purposes and account access, Demographic information such as postcode, preferences,
    and interests, Details of your visit to our Online Services, including, but not limited to, traffic data, location data, weblogs and
    other communication data. Other information relevant to marketing, client surveys or similar research, Information pertinent to
    fulfilling our services to you; Any other personal data that you voluntarily choose to provide to us; and social media account
    information.
  </p>
  <p>
    If we ask you to provide any other personal data not described above, the personal data that you are asked to provide, and the reasons
    why you are asked to provide it, will be made clear to you at the point that you are asked to provide your personal data. You can choose
    not to provide personal data to us when requested. However, if this is necessary to provide you with our solutions and services, access
    to our Online Services, or to perform administrative functions, we may be unable to do these things.
  </p>
  <h6>Information that we collect automatically</h6>
  <p>
    When you visit our Website, we may collect certain personal data automatically from your device. Specifically, the information we
    collect automatically may include information like your IP address, device type, unique device identification number, browser type,
    broad geographic location (e.g. country or city-level location) and other technical information. We may also collect information about
    how your device has interacted with our Website, including the pages accessed and links clicked.
  </p>
  <p>
    Collecting this information enables us to better understand the visitors who come to our Website, where they come from, and what content
    on our Website is of interest to them. We use this information for our internal analytics purposes and to improve the quality and
    relevance of our Website to our visitors. Some of this information may be collected using cookies and similar tracking technology, as
    explained further in our Cookie Notice. We do not collect sensitive personal data about you, e.g. information relating to your health,
    religion, political beliefs, race or sexual orientation and ask that you do not send or provide this information to us.
  </p>
  <h6>When you engage our services (“Customer”)</h6>
  <p>
    When you engage us to provide you with services, we collect and use personal data which is necessary for the performance of those
    services or is of our legitimate interest. The majority of the personal data we collect and use to provide our services is supplied
    voluntarily by (or collected by us from third-party sources at the request of our Customers. When you use our Online Services, we may,
    and third parties we engage may automatically collect data, including personal data through use of cookies and similar technologies. For
    more information, see the "Cookie Policy”.
  </p>
  <h6>When we engage you to provide us with services (“Vendor”)</h6>
  <p>
    When we engage to provide us services, we collect and use personal data which is necessary for the performance of those services and
    administrative tasks or is our legitimate interest.
  </p>
  <h6>When you participate in our recruitment services</h6>
  <p>
    We collect information from and about candidates in connection with available employment opportunities at NTT-Netmagic. This information
    may include CVs, identification documents, academic records, work history, employment, and references. NTT-Netmagic uses your personal
    data to match your skills, experience, and education with the specific roles offered by the firm. This information is passed to the
    relevant hiring managers and persons involved in the recruitment process to decide whether to invite you for an interview. NTT-Netmagic
    will collect further information from you if you are invited to the interview (or equivalent) stage and onwards.
  </p>
  <p>
    In connection with our recruitment activities, we may also collect special categories of personal data from candidates where we have an
    employment law obligation to do so, the information is relevant to their future working environment at NTT-Netmagic or the future
    provision of employment benefits, or with the individual's explicit consent. NTT-Netmagic may collect personal data about candidates
    from the following sources:
  </p>
  <p>
    <b>Directly from you –</b> for example, information that you have provided when applying for a position directly through the firm's
    recruitment website; <br />
    <b>From recruitment agencies – </b> for example, when a recruitment agency contacts us to identify you as a potential candidate;<br />
    <b>Through publicly available sources online – </b> for example, where you have a professional profile posted online (e.g. on your
    current employer's website, or on a professional networking site like LinkedIn); and<br />
    <b>By reference or word of mouth – </b>for example, through a referred from former employee/employer or from a referee you have
    identified.<br />
  </p>
  <h5>Lawful Basis For Processing Personal Data</h5>
  <p>
    Our legal basis for collecting and using the personal data described above will depend on the personal data concerned and the specific
    context in which we collect it. However, we will normally collect personal data from you only where we need the personal data to perform
    a contract with you (for example, when providing our services), comply with a legal requirement or to perform a contract with you or
    where the processing is in our legitimate interests and not overridden by your data protection interests or vital interest or
    fundamental rights and freedoms. In some cases, we may also have a legal obligation to process personal data about you or may need to
    process personal data in order to exercise, establish or defend legal claims.
  </p>
  <p>
    If you have questions about or need further information concerning the legal basis on which we collect and use your personal data
    (including any legitimate interests relied upon), please send an email to DPO@netmagicsolutions.com
  </p>
  <h5>Use Of Personal Data</h5>
  <p>
    We generally use the information to establish and enhance our relationship with our users for the following purposes:
    <br />
    Communication: We may use your information to administer and provide services you request or have expressed an interest in, to
    communicate with you in case of customer support, to process transactions, for sending newsletters, updates and promotional materials,
    for seeking your opinion and feedback and personalize and/or tailor any communications that we may send you.
    <br />
    Advertising: We may use your information to carry out advertising and market research based on behavioural metrics, geo-location data,
    demographic data, and marketing preferences we capture. We may permit certain third party companies to help us tailor advertising based
    on use.
    <br />
    Activity Tracking: We may use your information to track your activity on our digital platforms and personalize and improve your
    experience. This can be used to create an individual profile for you so that we can understand and respect your preferences or for
    profiling purposes to enable us to personalize and/or tailor any marketing communications that you may consent to receive from us.
    <br />
    Optimization: We may use your information to operate, improve and maintain our site, to prevent fraud and abuse.
    <br />
    Information Sharing: We may use and share your information with third parties with whom we have a contractual relationship. For example,
    we may provide you with a link where you may share your content with another person.
    <br />
    Contracted services: We may collect your information for the purpose of providing contracted services to you.
    <br />
    Recruitment: We may collect and use personal data to help assess your skills and your suitability for the relevant job position you
    apply for. We may also use such data to contact you if we believe a specific job position may interest you. Such information may include
    your name, email address, CV, telephone number, profile photo, job history and other relevant information. Consequently, we may use your
    personal data in relation to the evaluation and selection of candidates including but not limited to setting up and conducting
    interviews and tests, evaluating and assessing the results thereto and as is otherwise needed in the recruitment processes, including
    the final recruitment process and respond to privacy requests, questions, concerns and complaints.
  </p>
  <h5>Disclosure Of Your Personal Data</h5>
  <p>
    We share your personal data, in the following circumstances:
  </p>
  <p>
    With our subsidiary undertakings and/or affiliates for the purposes of providing you with our services as described in this Privacy
    Notice.
  </p>
  <p>
    with third parties including certain service providers we have retained in connection with the services we provide, such as consultants,
    experts, evaluation services, couriers, or other necessary entities;
  </p>
  <p>
    on a confidential basis with third parties for the purposes of collecting your feedback on the firm’s service provision, to help us
    measure our performance and to improve and promote our services;
  </p>
  <p>
    with courts, law enforcement authorities, regulators, government officials or attorneys or other parties where it is reasonably
    necessary for the establishment, exercise or defence of a legal or equitable claim, or for the purposes of a confidential alternative
    dispute resolution process;
  </p>
  <p>
    with service providers who we engage within or outside of NTT-Netmagic, domestically or abroad, e.g. shared service centres, to process
    personal data for any of the purposes listed above on our behalf and in accordance with our instructions only;
  </p>
  <p>
    if we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such
    business or assets to whom we assign any of our rights and obligations.
  </p>
  <h5>How Secure Is Your Personal Data With Us</h5>
  <p>
    We use appropriate technical and organisational measures to protect the personal data that we collect and process about you. The
    measures we use are designed to provide a level of security appropriate to the risk of processing your personal data.
  </p>
  <p>
    However, while we have implemented reasonable technical and organisational precautions to protect the security and integrity of personal
    data, due to the inherent nature of the internet as an open global communications vehicle, we cannot guarantee that information, during
    transmission through the internet or while stored on our system or otherwise in our care, will be absolutely safe from intrusion by
    others, such as hackers
  </p>
  <p>
    We maintain physical, electronic and procedural safeguards to protect your personal data. We strive to protect information transmitted
    on or through the website or Online Services, however, we cannot and do not guarantee the security of any data or information you
    transmit on or through the websites, and you do so at your own risk. We cannot and do not guarantee the security of your data and
    information
  </p>
  <h5>Cross Border Transfers</h5>
  <p>
    As a global company, we may transfer your personal data to countries where we do business or to international organisations in
    connection with the purposes identified above and in accordance with this Privacy Notice. For individuals in the EEA or Switzerland:
    Where we transfer your personal data from a location within the European Economic Area (the "EEA") or Switzerland to a country or
    international organisation outside the EEA or Switzerland and that country or international organisation does not provide a level of
    protection for personal data which the European Commission (“Commission”) deems adequate, we use and adhere to the standard contractual
    clauses (“SCCs”) approved by the Commission to legitimately transfer personal data. You may obtain a copy of these measures by
    contacting us in accordance with the “How to contact us” section below.
  </p>
  <h5>How Long We Keep Your Personal Data</h5>
  <p>
    NTT-Netmagic will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the
    purposes of satisfying any legal, accounting, or reporting requirements. To determine the appropriate retention period for personal
    data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorised use or
    disclosure of your personal data, the purposes for which we process your personal data and whether we can achieve those purposes through
    other means and the applicable legal requirements.
  </p>
  <p>
    The criteria we use to determine retention periods include whether: we are under a legal, contractual or other obligation to retain
    personal data, or as part of an investigation or for litigation purposes; <br />
    personal data is needed to maintain accurate business and financial records;<br />
    the personal data is sensitive personal data in which event we will generally retain this for a shorter period of time;<br />
    you have consented to us retaining your personal data for a longer retention period, in which case, we will retain personal data in line
    with your consent<br />
  </p>
  <h5>Your Privacy Rights and Whom To Contact</h5>
  <p>
    We will respect your legal rights in relation to your personal data as per laws of India. Below are the rights granted to EU residents
    as per GDPR and we are also committed towards protection of the same in terms of this Privacy Notice to the extent we are notified of
    GDPR applicability to you:
  </p>
  <p>
    Right to access copies of the information we hold about you at any time. If we provide you with access to the information we hold about
    you, we will not charge you for this, unless your request is "manifestly unfounded or excessive." Where we are legally permitted to do
    so, we may refuse your request. If we refuse your request, we will tell you the reasons why.<br />
    Right to rectify your personal data if it is inaccurate or incomplete.<br />
    Right to erasure by requesting that we delete or remove your personal data from our system<br />
    Right to restrict our use of your personal data, that is, the right to "block" us from using your personal data or limit the way in
    which we can use it<br />
    Right to data portability by requesting that we move, copy or transfer your personal data<br />
    Right to object to our use of your personal data including where we use it for our legitimate interests<br />
    Right to withdraw consent if we rely on your consent (or explicit consent) as our legal basis for processing your personal data, you
    have the right to withdraw that consent at any time.<br />
    Where we process your personal data for direct marketing purposes, you have the right to object to processing of your personal data at
    any time, including profiling to the extent that it is related to such direct marketing.<br />
    Right not to be subject to a decision based solely on automated processing, including profiling , which produces legal effects
    concerning you or similarly significantly affects you.<br />
    We will consider such requests and respond to you within 30 days. We may require verification of your identity before providing a copy
    of your information, as permitted by law.<br />
    Similarly, individuals in countries outside of the EEA and Switzerland may exercise their rights under any applicable data protection
    laws by contacting us in accordance with the “How to contact us” section, below.
  </p>
  <h5>Links To Third Party Websites and Applications</h5>
  <p>
    Our Online Services may contain links to third party websites and applications. Some of the content , advertising, and functionality on
    our websites may be provided via third parties that are not affiliated with us. For example, we enable you to share certain materials
    with others through social networking services such as Facebook, Twitter, Google +, and LinkedIn. We are not responsible for and make no
    representations or warranties in relation to the privacy practices or content of any third party websites, service functionality
    provided and applications. These third parties may collect or receive certain information about your use of the websites (including
    through the use of cookies, beacons, and similar technologies) and such information may be collected over time and combined with
    information collected across different websites and online services. We do not control the data collection and use practices of these
    companies and you should check the relevant privacy notices and policies before using the services provided by these companies. Your use
    of such sites and applications is subject to the applicable third party privacy Notice and is at your own risk.
  </p>
  <h5>Direct Marketing</h5>
  <p>
    We may send you direct marketing communications about our solutions and services. You can choose whether you wish to receive marketing
    communications from NTT Ltd by email, SMS, post and phone. You may opt out of receiving marketing materials from us at any time and
    manage your communication preferences by contacting us by using the contact details on our website.
  </p>
  <p>
    Include your details and a description of the marketing material you no longer wish to receive from us. We will comply with your request
    as soon as is reasonably practicable. If you opt out of receiving marketing related communications from us, we may still send you
    administrative messages as part of your ongoing use of our solutions and services, which you will be unable to opt out of. We do not
    provide your personal data to unaffiliated third parties for direct marketing purposes or sell, rent, distribute or otherwise make
    personal data commercially available to any third party.
  </p>
  <h5>Changes To The Notice</h5>
  <p>
    This Notice is effective as of 11th June 2020. We reserve the right to update or change this notice at any time, and we will provide you
    with the updated Notice when we make any substantial updates at the earliest either through email or by providing a prominent notice of
    the change on the website. You should check the Notice periodically
  </p>
  <h5>How To Contact Us</h5>
  <p>
    If you have any questions about how your personal data is handled by NTT- Netmagic, you have a privacy concern or you wish to make a
    request or a complaint relating to your personal data, please contact the following email address DPO@netmagicsolutions.com.
  </p>
</div>
