<div>
  <ul class="breadcrumb">
     <li><a routerLink="/home">Home</a></li>
     <li><a routerLink="/participants">Participants</a></li>
     <li><a class="active">View Participant</a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="panel panel-info bg-white shadow">
        <div class="panel-body p-3">
          <div class="row">
            <!-- <button class="btn"><span class="fa fa-pencil" aria-hidden="true" ></span></button> -->
            <div class="col-md-3 col-lg-3">

                </div>

            <div class=" col-md-12 col-lg-12 py-3">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <!-- <td>Created At:</td>
                    <td>{{participant.createdAt}}</td>
                    <td>Updated At:</td>
                    <td>{{participant.updatedAt}}</td>
                  </tr>
                  <tr>
                    <td>Created By:</td>
                    <td>{{participant.createdBy}}</td>
                    <td>Updated By:</td>
                    <td>{{participant.updatedBy}}</td>
                  </tr> -->
                  <tr>
                    <td>Name:</td>
                    <td>{{participant.name}}</td>
                    <td>Email:</td>
                    <td>{{participant.email}}</td>
                  </tr>
                  <tr>
                    <td>Phone Number:</td>
                    <td>{{participant.phoneNumber}}</td>
                    <td>Registration:</td>
                    <td>{{participant.registrationStatus? 'Approved' : 'Pending'}}</td>
                  </tr>
                  <!-- <tr>
                    <td>State:</td>
                    <td>{{participant.state}}</td>
                    <td>Pincode:</td>
                    <td>{{participant.pincode}}</td>
                  </tr> -->
                  <!-- <tr>

                    <td>Check In:</td>
                    <td>{{participant.checkIn}}</td>
                  </tr> -->
                  <tr>
                    <td>Registration Id:</td>
                    <td>{{participant.registrationUuid}}</td>
                    <td>Add By:</td>
                    <td>{{participant.addByUser}}</td>
                  </tr>
                  <tr>
                    <td>Approved By:</td>
                    <td>{{participant.addByUser}}</td>
                    <td>Event Name:</td>
                    <td>{{event.body.events.title}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
