<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/participants">Participants</a></li>
      <li><a class="active">View Participant</a></li>
    </ul>
  </div>

  <div class="text-center">
    <p class="heading-secondary">Participant</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="panel panel-info bg-white shadow">
        <div class="panel-body p-3">
          <div class="row">
            <!-- <button class="btn"><span class="fa fa-pencil" aria-hidden="true" ></span></button> -->
            <!-- <div class="col-md-3 col-lg-3">
              <p>{{participant.name}}</p>
                </div> -->

            <div class="col-md-12 col-lg-12 py-3">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Name:</td>
                    <td>{{ participant.name }}</td>
                    <td>Email:</td>
                    <td>{{ participant.email }}</td>
                  </tr>
                  <tr>
                    <td>Phone Number:</td>
                    <td>{{ participant.phoneNumber }}</td>
                    <td>Registration:</td>
                    <td>{{ participant.registrationStatus ? 'Approved' : 'Pending' }}</td>
                  </tr>

                  <tr>
                    <td>Event Name:</td>
                    <td colspan="3">{{ event.body.events.title }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
