<div class="container">
  <div class="row justify-content-center">
     <div class="col-sm-8 bg-white py-4">
      <div class="text-center">
        <h4 class="text-dark py-2">Create Event Form</h4>
      </div>
        <form [formGroup]='createEventForm' (ngSubmit)='generateEvent(createEventForm)'>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Event Title *</label>
            <input type="text" class="form-control col-sm-8" formControlName="title" placeholder="Please Enter Event Title...">
          </div>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Event Agenda *</label>
            <textarea class="form-control col-sm-8" formControlName="agenda" rows="3" placeholder="Please Enter Event Description..."></textarea>
          </div>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Event Category *</label>
            <input type="text" class="form-control col-sm-8" formControlName="category" placeholder="Please Enter Event Category...">
          </div>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Event Tags *</label>
            <input type="text" class="form-control col-sm-8" formControlName="tags" placeholder="Please Enter Event Tags...">
          </div>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Venue Address *</label>
            <input type="text" class="form-control col-sm-8" formControlName="venue" placeholder="Please Enter Event Tags...">
          </div>
          <!-- <div class="form-group">
            <label>Event Venue 2</label>
            <input type="text" class="form-control" formControlName="control" placeholder="Please Enter Event Tags...">
          </div>
          <div class="form-group">
            <label>Event Venue 3</label>
            <input type="text" class="form-control" formControlName="control" placeholder="Please Enter Event Tags...">
          </div> -->
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Select Participants *</label>
            <select class="form-control col-sm-8" formControlName="participants" >
              <option selected>Participant 1</option>
              <option>Participant 2</option>
              <option>Participant 3</option>
              <option>Participant 4</option>
              <option>Participant 5</option>
            </select>
          </div>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Select Speakers *</label>
            <select class="form-control col-sm-8" formControlName="speakers">
              <option selected>Speaker 1</option>
              <option>Speaker 2</option>
              <option>Speaker 3</option>
              <option>Speaker 4</option>
              <option>Speaker 5</option>
            </select>
          </div>
          <div class="form-row">
            <label class="col-sm-4 col-form-label">Choose Banner Image</label>
            <!-- <input type="file" class="form-control-file col-sm-8" formControlName="control"> -->
            <input #file type="file" accept='image/*' (change)="preview(file.files)" class="form-control-file col-sm-8" formControlName="image"/>
            <img [src]="imgURL" height="200" *ngIf="imgURL">
          </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary" [disabled]='!createEventForm.valid'>Submit Details</button>
        </div>
        </form>
      </div>
    </div>
  </div>
