<div class="container">
  <div>
    <ul class="breadcrumb pl-0">
      <li><a href="/home">Home</a></li>
      <li><a href="/event-data">Event Data</a></li>
      <li><a class="active">Invitee Data</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <section class="section-tours">
    <div class="row">
      <div class="col-2 text-left pt-2">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="beforeMenu">Export Reports</button>
        <mat-menu #beforeMenu="matMenu" xPosition="after">
          <button mat-menu-item (click)="exporter.exportTable('csv', { fileName: 'Download_Invitees_List', sheet: 'Sheet' })">
            Export as CSV
          </button>
          <button mat-menu-item (click)="exporter.exportTable('xlsx', { fileName: 'Download_Invitees_List', sheet: 'Sheet' })">
            Export as XLSX
          </button>
        </mat-menu>
      </div>
      <div class="col-10 text-right">
        <mat-form-field class="w-45">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search...." />
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">
        <ng-container matColumnDef="seq">
          <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header><b>S.No.</b></th>
          <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"><b>Event Title</b></th>
          <td mat-cell *matCellDef="let row">{{ row.title | slice: 0:40 }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"><b>Name</b></th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="25%"><b>Email</b></th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"><b>Contact</b></th>
          <td mat-cell *matCellDef="let row">{{ row.contact }}</td>
        </ng-container>

        <ng-container matColumnDef="joiningDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Invitation Date</b></th>
          <td mat-cell *matCellDef="let row">{{ row.joiningDate | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </section>
</div>
