<!-- <app-loader *ngIf="show"></app-loader> -->
<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a href="/home">Home</a></li>
      <li><a (click)="BackMe()">Notifications</a></li>
      <li><a class="active">Update Notifications</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center">
        <p class="heading-secondary">Update Notifications</p>
      </div>
      <form [formGroup]="updateNotificationForm">
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Name<span class="error">*</span> </label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Notification Name" formControlName="displayName" />
            <mat-error *ngIf="checkError('displayName', 'required')">(Notification Name is required)</mat-error>
            <!-- <mat-error *ngIf="checkError('name', 'maxlength')">(Notification Name should be upto 100 characters)</mat-error> -->
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Expiry Time (Minutes)<span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Notification Expiry Time in Minutes" formControlName="visibilityDurationInSec" />
            <mat-error *ngIf="checkError('visibilityDurationInSec', 'required')">(Notification Visibility Duration is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Category</label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="categoryTypeId" [(value)]="selected4">
              <!-- <mat-option value="0">None</mat-option> -->
              <mat-option *ngFor="let category of allData" [value]="category.id" [disabled]="category.id">
                {{ category.displayName | removehyphens | removeunderscore | titlecase }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('categoryTypeId', 'required')">(Category is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Targeted User <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Targeted User</mat-label>
            <mat-select formControlName="targetUserTypeId" [(value)]="selected3">
              <mat-option *ngFor="let user of userList" [value]="user.id" [disabled]="user.id">
                {{ user.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('targetUserTypeId', 'required')">(Target user type is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Notification Channel<span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Notification Channel</mat-label>
            <mat-select formControlName="notificationMode" (selectionChange)="onModeChange($event)">
              <mat-option *ngFor="let modes of modeList" [value]="modes">
                {{ modes | titlecase | removeunderscore }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('targetUserTypeId', 'required')">(Notification Channel is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row" *ngIf="emailFlag">
          <label class="col-sm-3 col-form-label">Notification Template<span class="error">*</span></label>
          <ckeditor placeholder="Template..." formControlName="notiTemplate" class="example-full-width col-sm-9 p-0"></ckeditor>
          <div *ngIf="checkError('notiTemplate', 'required', true)" style="color: red; font-size: 12px;">
            (Notification Template is required)
          </div>
        </div>

        <div class="form-row" *ngIf="mobileFlag">
          <label class="col-sm-3 col-form-label">Notification Template<span class="error">*</span></label>
          <textarea class="example-full-width col-sm-9 p-2" placeholder="Template..." formControlName="notiTemplate" Rows="4"></textarea>
          <div *ngIf="checkError('notiTemplate', 'required', true)" style="color: red; font-size: 12px;">
            (Notification Template is required)
          </div>
        </div>

        <div class="col-sm-12 text-right">
          <button class="btn button-1 action-good" (click)="createUser()">Submit Details</button>
        </div>
      </form>
    </div>
  </div>
</div>
