#body-row {
  margin-left: 0;
  margin-right: 0;
}

#sidebar-container {
  background-color: #2c2c2c;
  height: 100%;
  min-height: 100vh;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item */
#sidebar-container .list-group a {
  color: white;
  height: 50px;
}

/* Submenu item */
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

.logo-separator {
  background-color: #333;
  height: 60px;
}

#sidebar-container .list-group .list-group-item .submenu-icon::after {
  content: ' \f0d7';
  display: inline;
  font-family: FontAwesome;
  padding-left: 10px;
  text-align: right;
}

.list-group-item {
  background: transparent;
}
