<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
  <ul class="list-group">
    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-dashboard fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Events</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id='submenu1' class="collapse sidebar-submenu">
      <a routerLink='/events' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Event</span>
      </a>
      <a routerLink='/participants' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Participants</span>
      </a>
      <a routerLink='/speakers' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Speakers</span>
      </a>
    </div>
    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-user fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Resources</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id='submenu2' class="collapse sidebar-submenu">
      <a routerLink='/articles' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Articles</span>
      </a>
      <a routerLink='/blogs' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Blogs</span>
      </a>
      <a routerLink='/cases' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Case Studies</span>
      </a>
      <a routerLink='/whitepapers' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Whitepapers</span>
      </a>
      <a routerLink='/testimonials' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Testimonials</span>
      </a>
      <a routerLink='/news' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">News</span>
      </a>
      <a routerLink='/videos' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Videos</span>
      </a>

    </div>
    <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-user fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Homepage Settings</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id='submenu3' class="collapse sidebar-submenu">
      <a routerLink='/home-config' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Homepage Configuration</span>
      </a>
      <!-- <a routerLink='/blogs' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Blogs</span>
      </a>
      <a routerLink='/cases' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Case Studies</span>
      </a>
      <a routerLink='/whitepapers' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Whitepapers</span>
      </a>
      <a routerLink='/testimonials' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Testimonials</span>
      </a>
      <a routerLink='/news' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">News</span>
      </a>
      <a routerLink='/videos' class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Videos</span>
      </a> -->

    </div>
    <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-tasks fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Campaign</span>
      </div>
    </a>
    <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-tasks fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Notifications</span>
      </div>
    </a>
    <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-tasks fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Settings</span>
      </div>
    </a>
    <!-- <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-tasks fa-fw mr-3"></span>
        <span class="menu-collapsed">HomePage Settings</span>
      </div>
    </a> -->


  </ul>
</div>
