<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
  <ul class="list-group" style="overflow-y: scroll; height: 90vh;">
    <a
      href="#submenu3"
      data-toggle="collapse"
      aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-user fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Dashboard</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id="submenu3" class="collapse sidebar-submenu">
      <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Home</span>
      </a>
      <a routerLink="/home-config" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Homepage Configuration</span>
      </a>
    </div>
    <a
      href="#submenu1"
      data-toggle="collapse"
      aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-dashboard fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Events</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id="submenu1" class="collapse sidebar-submenu">
      <a routerLink="/events" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Event</span>
      </a>
      <a routerLink="/participants" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Participants</span>
      </a>
      <a routerLink="/speakers" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Speakers</span>
      </a>
    </div>
    <a
      href="#submenu2"
      data-toggle="collapse"
      aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-user fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Resources</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id="submenu2" class="collapse sidebar-submenu">
      <a routerLink="/resources/articles" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Articles</span>
      </a>
      <a routerLink="/resources/blogs" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Blogs</span>
      </a>
      <a routerLink="/resources/cases" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Case Studies</span>
      </a>
      <a routerLink="/resources/whitepapers" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Whitepapers</span>
      </a>
      <a routerLink="/resources/testimonials" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Testimonials</span>
      </a>
      <a routerLink="/resources/news" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">News</span>
      </a>
      <a routerLink="/resources/videos" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Videos</span>
      </a>
    </div>
    <a routerLink="/cloud-service" routerLinkActive="active" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Product & Services</span>
      </div>
    </a>
    <a
      href="#submenu4"
      data-toggle="collapse"
      aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
      routerLinkActive="active"
    >
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-user fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Lead generation</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id="submenu4" class="collapse sidebar-submenu">
      <a routerLink="/event-data" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">events</span>
      </a>
      <a routerLink="/resource-data" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">resources</span>
      </a>
      <a routerLink="/user-data" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">users</span>
      </a>
    </div>
    <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-tasks fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Campaign</span>
      </div>
    </a>
    <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-tasks fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Notifications</span>
      </div>
    </a>
    <a class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <!-- <span class="fa fa-tasks fa-fw mr-3"></span> -->
        <span class="menu-collapsed">Settings</span>
      </div>
    </a>
  </ul>
</div>
