<div class="page-wrapper">
  <div class="chiller-theme toggled" [hidden]="hideElement">
  <!-- <div class="chiller-theme" [hidden]="hideElement"> -->
    <a id="show-sidebar" class="btn btn-sm btn-dark"><i class="fa fa-bars"></i></a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <img src="assets/nttLogo.png" alt="" width="100px" height="33px;">
        <div id="close-sidebar" class="ml-auto"><i class="fa fa-times"></i></div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="sidebar-dropdown">
            <a><span>Resources</span></a>
            <div class="sidebar-submenu">
              <ul>
                <li><a routerLink='/articles'>Articles</a></li>
                <li><a routerLink='/blogs'>Blogs</a></li>
                <li><a routerLink='/cases'>Case Studies</a></li>
                <li><a routerLink='/whitepapers'>Whitepapers</a></li>
                <li><a routerLink='/testimonials'>Testimonials</a></li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a><span>Events</span></a>
            <div class="sidebar-submenu">
              <ul>
                <li><a routerLink='/home'>Event</a></li>
                <li><a>Participants</a></li>
                <li><a>Speakers</a></li>
              </ul>
            </div>
          </li>
          <li class=""><a><span>Campaign</span></a></li>
          <li class=""><a><span>Notifications</span></a></li>
          <li class=""><a><span>Settings</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <main class="page-content" style="background: #f3f3f3;">
    <app-header [hidden]="hideElement"></app-header>
    <div class="inner-page" style="padding: 1rem;min-height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
