<div>
  <ul class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/news">News</a></li>
    <li><a class="active">View News</a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="panel panel-info preview-card">
        <div class="panel-body p-3">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <img
                alt="User Pic"
                [src]="news.thumbnailImageUrl"
                class="img-circle img-responsive"
                width="100%"
                alt="No Image preview"
                height="250px"
              />
            </div>

            <div class="col-md-9 col-lg-8">
              <div class="panel-heading">
                <h1 style="font-size: 25px; color: #008ece;">{{ news.topic }}</h1>
                <h6 style="color: #6f7a8a;">{{ news.title }}</h6>
                <p>{{ news.shortDescription }}</p>
              </div>
            </div>
            <div class="col-md-1 edit">
              <button class="btn" (click)="editcaseRoute()"><span class="fa fa-pencil" aria-hidden="true"></span></button>
            </div>
            <div class="col-md-12 col-lg-12 py-3">
              <hr />
              <p>
                <span class="d-inline-flex"
                  ><h6>{{ news.location }}, &nbsp;</h6>
                  <h6>{{ news.createdAt | date }} - &nbsp;</h6></span
                >{{ news.longDescription }}
              </p>
            </div>
            <div class="col-md-12 col-lg-12 py-2">
              <hr />
              <p><span class="h6">About NTT - </span>{{ news.about }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
