.videos-card {
  height: 480px;
  margin-bottom: 5px;
  min-height: 350px;
  width: 280px;
}

.videos-title {
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.text-center {
  padding: 100px;
}
