.bg-dark {
  background-color: #040b18 !important;
}

.blog .card {
  background: #fff;
  border: 0;
  border-radius: 0;
  transition: background 0.25s;

  /* cursor: none; */
}

.blog .card:hover {
  background: #fff;
  transition: background 0.25s;
}

.card-block {
  background: #fff;
  height: 100%;
  padding: 10px 0 10px 0;

  /* height: 120px; */
}

.card-container {
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-title {
  color: #03c;
  font-size: 14px;
  height: 17px;
  margin: 0 10px 10px 10px;
  overflow: hidden;
}

.card-description {
  font-size: 14px;
  height: 45px;
  overflow: hidden;
  padding: 0 10px 5px 10px;
  word-break: break-all;
}

.card-date {
  border-top: 1px solid #edebeb;
  font-size: 13px;
  height: 25px;
  margin: 0;
  overflow: hidden;
  padding: 5px 10px 0 10px;
}

.blog .card .card-block .category {
  background-color: #189cd5;
  color: #dd0042;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  line-height: 100%;
  margin-bottom: 0.4rem;
  padding: 4px 8px 2px;
  text-transform: uppercase;
  width: fit-content;
}

.heading-secondary {
  color: #0b428a;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 10px !important;
}

.category-link {
  background: transparent;
  border: 1px solid #0b428a;
  border-radius: 25px;
  color: #0b428a !important;
  cursor: pointer;
  font-size: 11px;
  padding: 7px 20px;
  text-align: right;
  width: auto;
}

.blog-card {
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.blog-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.text-center {
  padding: 100px;
}

.fa {
  font-size: 10px;
}

.card-header .fa {
  transition: 0.3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(180deg);
}
