.article-card {
  height: 426px;
  width: 280px;
}

.article-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 8px;
  word-break: break-all;

  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  word-break: break-all; */
}

.article-img {
  height: 360px;

  /* min-height: 250px; */

  width: 280px;
}

.text-center {
  padding: 100px;
}

/* // Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) {
  .article-card {
    height: 485px;
    width: 25%;
  }
} */

/* // Large devices (desktops, 992px and up) */

/* @media (min-width: 992px) {
  .article-card {
    height: 400px;
    width: 28%;
  }
} */

/* // Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {
  .article-card {
    height: 450px;
    width: 280px;
  }
} */
