<section class="section-tours">
  <div class=" text-center">
  <p class="heading-secondary py-4">
    Netmagic Articles
  </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <div class="card-width">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">                       
                </div>
                <div class="card__details">
                    <ul>
                        <li>Securing Digital Transformation: Top 5 Do’s and Don’ts</li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <a class="btn btn--white" routerLink="/article-details">View PDF</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card-width">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">                       
                </div>
                <div class="card__details">
                    <ul>
                        <li>SD-WAN Requirements for Multi-Cloud Management</li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <a class="btn btn--white" routerLink="/article-details">View PDF</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card-width">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">                       
                </div>
                <div class="card__details">
                    <ul>
                        <li>Why Managed Security as-a-Service is the Next Big Thing</li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <a class="btn btn--white" routerLink="/article-details">View PDF</a>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
