.article-card {
  height: 385px;
  width: 22%;
}

.article-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  word-break: break-all;
}

.article-img {
  height: 250px;
  min-height: 250px;
  width: 100%;
}

.text-center {
  padding: 100px;
}
