<div>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a class="active">Articles</a></li>
  </ul>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a routerLink="/article-create"
      ><button type="button" class="btn button-1 action-good">
        Create Article
      </button></a
    >
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item ml-2">
        <div class="form-inline my-2 my-lg-0">
          <input class="form-control" [(ngModel)]="searchBlog" type="search" (search)="cancel()" placeholder="Search" aria-label="Search" />
          <button class="btn button-2 action-info" (click)="blogSearch()">
            Search
          </button>
        </div>
      </li>
      <li class="nav-item active mx-2">
        <select class="form-control" [(ngModel)]="sort" (change)="filterData()" style="width: 150px;">
          <option value="Sort By">Sort By</option>
          <optgroup label="Updated Date">
            <option value="asc?date" selected>asc</option>
            <option value="desc?date">desc</option>
          </optgroup>
        </select>
      </li>
    </ul>
  </div>
</nav>
<section class="section-tours">
  <!-- <div class=" text-center">
    <p class="heading-secondary py-4">
      Articles
    </p>
  </div> -->
  <div class="row" style="padding: 0.5rem 1rem;">
    <mat-card class="p-0 m-3 article-card" *ngFor="let card of filterBlogs" (click)="getDetails(card.id)">
      <div>
        <img [src]="card.thumbnailImageUrl" alt="" class="article-img" />
      </div>
      <div class="p-3">
        <p class="article-title">{{ card.title | truncate: 130:false }}</p>
      </div>
      <div class="p-3">
        <p class="article-title"><b>Date : </b>{{ card.updatedAt | date }}</p>
      </div>
      <!-- <div class="px-2 pb-2">
      <p class="article-title"><b></b>{{card.shortDescription | truncate : 30 : false}}</p>
     </div> -->
    </mat-card>
  </div>
  <div class="text-center">
    <span *ngIf="filterBlogs?.length == 0">
      <i class="fa fa-database" aria-hidden="true"></i>
      No Data Available
    </span>
  </div>
</section>
