<app-loader *ngIf="show"></app-loader>
<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/resources/news">News</a></li>
      <li><a (click)="BackMe()">View News</a></li>
      <li><a class="active">Edit News</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center">
        <p class="heading-secondary">Edit News</p>
      </div>

      <form [formGroup]="updateNewsForm">
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Title <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Title is required &#13;2. Title should be upto 50 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Title" formControlName="title" />
            <mat-error *ngIf="checkError('title', 'required')">(Title is required)</mat-error>
            <mat-error *ngIf="checkError('title', 'maxlength')">(Title should be upto 50 characters)</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Topic <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Topic is required &#13;2. Topic should be upto 100 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="topic" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('topic', 'required', true)" style="color: red; font-size: 12px;">
              (Topic is required)
            </div>
            <div *ngIf="checkError('topic', 'rTextValid', true)" style="color: red; font-size: 12px;">
              (Topic should be upto 100 characters)
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Long Description <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Long Description is required &#13;2. Long Description should be upto 700 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="longDescription" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('longDescription', 'required', true)" style="color: red; font-size: 12px;">
              (Long Description is required)
            </div>
            <div *ngIf="checkError('longDescription', 'rTextValid', true)" style="color: red; font-size: 12px;">
              (Description should be upto 700 characters)
            </div>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Short Description <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Short Description is required &#13;2. Short Description should be upto 100 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="shortDescription" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('shortDescription', 'required', true)" style="color: red; font-size: 12px;">
              (Short Description is required)
            </div>
            <div *ngIf="checkError('shortDescription', 'rTextValid', true)" style="color: red; font-size: 12px;">
              (Short Description should be upto 100 characters)
            </div>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >About<span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. About is required &#13;2. About should be upto 200 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="about" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('about', 'required', true)" style="color: red; font-size: 12px;">
              (About is required)
            </div>
            <div *ngIf="checkError('about', 'rTextValid', true)" style="color: red; font-size: 12px;">
              (About should be upto 200 characters)
            </div>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Category </label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="categoryTypeId">
              <mat-option value="0">None</mat-option>
              <mat-option *ngFor="let category of allData" [value]="category.displayName">
                {{ category.name | removehyphens | removeunderscore | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Tags </label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Tags</mat-label>
            <mat-select multiple formControlName="tagList" [(ngModel)]="selected4">
              <mat-option *ngFor="let tag of tagData" [value]="tag.id">{{ tag.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9 text-right">
            <button type="button" class="btn-primary button-2 action-good" data-toggle="modal" data-target="#tagModal1">
              Add Tags
            </button>
          </div>
        </div>
        <!-- <div class="form-row">
          <label class="col-sm-3 col-form-label">About</label>
          <mat-form-field class="example-full-width col-sm-9">
            <textarea matInput placeholder="Description..." formControlName="shortDescription" rows="4"></textarea>
          </mat-form-field>
        </div>
        <div class="form-row mt-3 mb-4">
          <label class="col-sm-3 col-form-label">Date</label>
          <input [owlDateTimeTrigger]="regstartdt" [owlDateTime]="regstartdt" class="form-control col-sm-9"
            placeholder="Date" formControlName="date">
          <owl-date-time #regstartdt [pickerType]="'calendar'"></owl-date-time>
        </div> -->
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Location <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Location is required &#13;2. Location should be upto 100 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Location" formControlName="location" value="" />
            <mat-error *ngIf="checkError('location', 'required')">(Location is required)</mat-error>
            <mat-error *ngIf="checkError('location', 'maxlength')">(Location should be upto 100 characters)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Targeted User <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Target User</mat-label>
            <mat-select formControlName="targetUserType" [(value)]="selected3">
              <mat-option *ngFor="let user of userList" [value]="user.id">
                {{ user.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('targetUserType', 'required')">(Target user type is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Expiration Date<span class="error">*</span></label>
          <div class="col-sm-9">
            <input
              [owlDateTimeTrigger]="startdt"
              [owlDateTime]="startdt"
              [min]="today"
              placeholder="Expiration Date & Time"
              formControlName="expiryDate"
              class="form-control"
            />

            <!-- <mat-error *ngIf="checkError('startDate', 'required')">(Event start date & time is required)</mat-error> -->
            <owl-date-time #startdt></owl-date-time>
            <div *ngIf="checkError('expiryDate', 'required', true)" style="color: red; font-size: 12px;">
              (Expiration date & time is required)
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Image <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Resolution: 480px X 240px &#13;Type: png/ jpg/ jpeg &#13;Size: 300 kB"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-2 filetypewidth">
            <input type="file" class="form-control-file" formControlName="thumbnailImageUrl" (change)="fileProgress($event)" />
            <div *ngIf="checkError('thumbnailImageUrl', 'required', true)" style="color: red; font-size: 12px;">
              (Image is required)
            </div>
            <div *ngIf="checkError('thumbnailImageUrl', 'pattern', true)" style="color: red; font-size: 12px;">
              (Image should be JPEG, JPG, PNG)
            </div>
          </div>
          <div class="col-sm-5">
            <p>{{ result1 }}</p>
          </div>
          <div class="col-sm text-right">
            <button class="btn button-1 action-good" [ngClass]="{ cursor: !imageValid }" (click)="uploadImage()" [disabled]="!imageValid">
              Upload File
            </button>
            <div *ngIf="fileUploadProgress">Upload progress: {{ fileUploadProgress }}</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="200" />
            </div>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Save as draft</label>
          <mat-slide-toggle class="example-full-width col-sm-9" (change)="OnDraft($event)" formControlName="draft">Draft</mat-slide-toggle>
        </div>

        <div class="col-sm-12 text-right">
          <button type="submit" (click)="updateNews()" class="btn button-1 action-good">{{ submitBtnCaption }} Details</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="tagModal1" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <button type="button" #closeModel class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addTagForm">
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Tag Name</label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Tag Name" formControlName="name" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Tag Keyword</label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Keyword Name" formControlName="keywords" />
            </mat-form-field>
          </div>

          <div class="text-right">
            <button class="btn button-1 action-good" (click)="createTag()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
