<app-loader *ngIf="show"></app-loader>
<div>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a (click)="BackMe()">Articles</a></li>
    <li><a class="active">Article Preview</a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="panel panel-info preview-card">
        <div class="panel-body p-3">
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <img
                alt="User Pic"
                [src]="articleData.thumbnailImageUrl"
                class="img-circle img-responsive"
                width="280px"
                alt="No Image preview"
                height="360px"
              />
            </div>

            <div class="col-md-7 col-lg-7">
              <div class="panel-heading">
                <h1 style="font-size: 25px; color: #008ece;">
                  {{ articleData.title }}
                </h1>
                <!-- <p><b>Short Description : </b>{{articleData.shortDescription}}</p> -->
                <p><b>Category - </b>{{ articleData.category.displayName }}</p>
                <!-- <p><b>Tag : </b><span *ngFor="let tags of resourceTags">{{tags.name}}</span></p> -->
                <p class="card-text mb-0" style="font-weight: 500;">
                  <b>Tags - </b><span class="tags" *ngFor="let tag of resourceTags">{{ tag.name }}</span>
                </p>
              </div>
            </div>
            <div class="col-md-1 edit">
              <button class="btn" (click)="getDetails(articleData.id)">
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </button>
              <br /><br /><br />
              <a *ngIf="articleData.resourceLink != null" [href]="articleData.resourceLink" target="_blank"
                ><button class="btn button-1 action-good">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button
              ></a>
            </div>
            <div class="col-md-12 col-lg-12 py-3">
              <hr />
              <!-- <p><b>{{articleData.updatedAt | date}} - </b>{{ articleData.longDescription}}</p> -->
              <p style="white-space: pre-wrap;"><b>Short Description - </b>{{ articleData.shortDescription }}</p>
              <hr />
              <p style="white-space: pre-wrap;"><b>Long Description - </b>{{ articleData.longDescription }}</p>
              <hr />
              <p><b>Publish Date - </b>{{ articleData.createdAt | date }}</p>
              <!-- <div class="text-center">
              <a [href]="articleData.resourceLink" target="_blank"><button class="btn button-1 action-good">View PDF</button></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
