<app-loader *ngIf="show"></app-loader>
<div>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a (click)="BackMe()">Articles</a></li>
    <li><a class="active">Article Preview</a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="panel panel-info preview-card">
        <div class="panel-body p-3">
          <div class="row">
            <div class="col-md-4 col-lg-4 text-center">
              <img
                alt="User Pic"
                [src]="articleData.thumbnailImageUrl"
                class="img-circle img-responsive"
                width="100%"
                alt="No Image preview"
              />
            </div>
            <!--
            <div class="col-md-9 col-lg-8">
              <div class="panel-heading">
                <h1 style="font-size:25px;color:#008ECE;">{{whitePaperData.title}}</h1>
                <p>{{whitePaperData.shortDescription}}</p>
                <p>{{whitePaperData.category.displayName}}</p>
              </div>
            </div> -->
            <div class="col-md-7 col-lg-7 p-0">
              <div class="panel-heading">
                <h1 style="font-size: 25px; color: #008ece;">{{ articleData.title }}</h1>
                <br />
                <p><b>Category : </b>{{ articleData.category.displayName }}</p>
                <p class="card-text mb-0" style="font-weight: 500;">
                  <b>Tags : </b><span class="tags" *ngFor="let tag of resourceTags">{{ tag.name }}</span>
                </p>
              </div>
            </div>
            <div class="col-md-1 edit">
              <button class="btn" (click)="getDetails(articleData.id)">
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </button>
              <br /><br /><br />
              <a *ngIf="articleData.resourceLink != null" [href]="articleData.resourceLink" target="_blank">
                <button class="btn button-1 action-good">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
              </a>
            </div>
            <div class="col-md-12 col-lg-12 pt-3">
              <hr class="mt-0" />
              <!-- <p><b>{{articleData.updatedAt | date}} - </b>{{ articleData.longDescription}}</p> -->
              <b>Short Description </b>
              <p [innerHTML]="articleData.shortDescription"></p>
              <hr />
              <b>Long Description </b>
              <p [innerHTML]="articleData.longDescription"></p>
              <hr />
              <div class="row">
                <div class="col">
                  <p class="m-0"><b>Published Date : </b>{{ articleData.updatedAt | date }}</p>
                </div>
                <div class="col">
                  <p class="m-0" style="float: right;"><b>Expired Date : </b>{{ articleData.expiryDate | date }}</p>
                </div>
              </div>
              <!-- <div class="text-center">
                <a [href]="whitePaperData.resourceLink" target="_blank"><button class="btn button-1 action-good">View PDF</button></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
