<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-body p-3">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <img alt="User Pic"
                [src]="articleData.thumbnailImageUrl"
                class="img-circle img-responsive" width="100%" alt="No Image preview" height="250px">
            </div>

            <div class="col-md-9 col-lg-8">
              <div class="panel-heading">
                <h1 style="font-size:25px;color:#008ECE;">{{articleData.title}}</h1>
                <p>{{articleData.shortDescription}}</p>
                <p>{{articleData.category.displayName}}</p>
              </div>
            </div>
            <div class="col-md-1 edit">
              <button class="btn"><span class="fa fa-pencil" aria-hidden="true" (click)="getDetails(articleData.id)"></span></button>
            </div>
            <div class=" col-md-12 col-lg-12 py-3 text-center">
              <p>{{articleData.longDescription}}</p>
              <div class="text-center">
              <a [href]="articleData.resourceLink" target="_blank"><button class="btn btn-success">View Article</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
