.table td .table th {
  padding: 0;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.table-user-information > tbody > tr > td:nth-child(1) {
  font-weight: 500;
  width: 7%;
}

.table-user-information > tbody > tr > td:nth-child(3) {
  font-weight: 500;
  width: 7%;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.modal-confirm {
  color: #636363;
  width: 400px;
}

.modal-confirm .modal-content {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  font-size: 26px;
  margin: 30px 0 -10px;
  text-align: center;
}

.modal-confirm .close {
  position: absolute;
  right: -25px;
  top: -25px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-footer a {
  color: #999;
}

.modal-confirm .btn-info {
  background: #c1c1c1;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}

.modal-confirm .btn-danger {
  background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}

.modal-remove {
  background: #fff;
  border: 2px solid #e3e3e3;
  border-radius: 50%;
  font-size: 30px;
  height: 50px;
  opacity: 1;
  width: 50px;
  z-index: 999;
}

.close:hover {
  box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.7);
  opacity: 1 !important;
}
