<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a href="/home">Home</a></li>
      <li><a (click)="Back()">Speakers</a></li>
      <li><a class="active">Speaker Preview</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="panel panel-info bg-white shadow">
        <div class="panel-body p-3">
          <div class="row">
            <button class="btn" [routerLink]="['../../speaker-update', speakerData.id]">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
            <div class="col-md-4 pr-0">
              <img
                alt="User Pic"
                [src]="speakerData.profileImageUrl"
                class="img-circle img-responsive"
                width="100%"
                alt="No Image preview"
              />
            </div>

            <div class="col-md-9 col-lg-8">
              <div class="panel-heading">
                <h3 class="panel-title">{{ speakerData.fullName }}</h3>
                <p class="speaker-details">{{ speakerData.email }}</p>
                <p class="speaker-details">{{ speakerData.phone }}</p>
                <p class="speaker-details">{{ speakerData.profile }}</p>
              </div>
            </div>
            <div class="col-md-12 col-lg-12">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Designation</td>
                    <td>{{ speakerData.designation }}</td>
                  </tr>
                  <tr>
                    <td>Personal Email</td>
                    <td>{{ speakerData.personalEmail }}</td>
                  </tr>
                  <tr>
                    <td>Origanization Name</td>
                    <td>{{ speakerData.origanizationName }}</td>
                  </tr>
                  <tr>
                    <td>Key Skills</td>
                    <td>{{ speakerData.keySkills }}</td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>{{ speakerData.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
