<app-loader *ngIf="show"></app-loader>
<div class="container-fluid">
  <!-- Content -->
  <header class="col-md-12 mt-2 mb-5">
    <p align="center" class="home-title">DASHBOARD</p>
  </header>
  <div class="main-content">
    <section class="p-2">
      <!-- <h3 class="my-3">Resource</h3> -->
      <div class="card shadow-none">
        <div class="card-header" style="height: 60px;">
          <div class="row">
            <div class="col-md-4">
              <p class="p-home-title">Resources</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2 p-2">
              <select class="form-control" [(ngModel)]="resdat" (change)="getResGraphData()">
                <option value="resdat">Select Data Range</option>
                <option value="last_week">Last week</option>
                <option value="last_month">Last month</option>
                <option value="last_six_month">Last 6 months</option>
              </select>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 p-2">
              <div class="card-container card-container-no-border">
                <div class="card-div">
                  <canvas id="resourceDownload" height="240px" width="300px">{{ canvas }}</canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-8 p-2"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-2">
      <div class="card shadow-none">
        <div class="card-header" style="height: 60px;">
          <div class="row">
            <div class="col-md-4">
              <p class="p-home-title">Users</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2 p-2">
              <select class="form-control" [(ngModel)]="userdat" (change)="getUserGraphData()">
                <option value="userdat">Select Data Range</option>
                <option value="last_week">Last week</option>
                <option value="last_month">Last month</option>
                <option value="last_six_month">Last 6 months</option>
              </select>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 p-2">
              <!-- <h5 class="bg-light text-dark" >Download</h5> -->
              <div class="card-container card-container-border">
                <div class="card-div">
                  <canvas id="userDeviceChart" height="240px" width="300px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-2">
              <div class="card-container card-container-no-border">
                <div class="card-div">
                  <canvas id="users" height="240px" width="300px">{{ canvas }}</canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-2"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-2">
      <div class="card shadow-none">
        <div class="card-header" style="height: 60px;">
          <div class="row">
            <div class="col-md-4">
              <p class="p-home-title">Events</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2 p-2">
              <select class="form-control" [(ngModel)]="eventsdat" (change)="getEventGraphData()">
                <option value="eventsdat">Select Data Range</option>
                <option value="last_week">Last week</option>
                <option value="last_month">Last month</option>
                <option value="last_six_month">Last 6 months</option>
              </select>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 p-2">
              <div class="card-container card-container-border">
                <div class="card-div">
                  <canvas id="eventStatus" height="240px" width="300px">{{ canvas }}</canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-2">
              <div class="card-container card-container-border">
                <div class="card-div">
                  <canvas id="eventTargetUserType" height="240px" width="300px">{{ canvas }}</canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-2">
              <div class="card-container card-container-no-border">
                <div class="card-div">
                  <canvas id="eventCategoryType" height="240px" width="360px">{{ canvas }}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
