<div class="wrapper">
  <!-- Content -->
  <div class="main-content">
    <div class="counterDown text-center">
      <h2>Homepage is under development</h2>
      <hr>
      <!-- <div id="demo">
        <div id="jours" class="text-center"></div>
        <div id="heures" class="text-center"></div>
        <div id="minutes" class="text-center"></div>
        <div id="secondes" class="text-center"></div>
      </div> -->
      <!-- <div id="infos">
          <div class="infos-jours">Jours</div>
          <div class="infos-heures">Heures</div>
          <div class="infos-minutes">Minutes</div>
          <div class="infos-secondes">Secondes</div>
      </div> -->
    </div>
  </div>

  <!-- Footer -->
  <!-- <footer class="text-center">
    <p>Copyright Marc Schneider - <span id="annee"></span> © Tous droits réservés. </p>
  </footer> -->
</div>
