<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center">
        <p class="heading-secondary">Create Speaker</p>
      </div>
      <form [formGroup]='createSpeakerForm' (ngSubmit)='createSpeaker(createSpeakerForm)'>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Speaker Name</label>
          <input type="text" class="form-control col-sm-9" placeholder="Enter FullName.." formControlName="name">
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Speaker Description</label>
          <textarea class="form-control col-sm-9" rows="4" placeholder="Enter Speaker Description..." formControlName="description"></textarea>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Email</label>
          <input type="text" class="form-control col-sm-9"  placeholder="Please Enter Email..." formControlName="email">
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Personal Details</label>
          <input type="text" class="form-control col-sm-9" placeholder="Speaker Profile..." formControlName="details">
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"></label>
          <input type="text" class="form-control col-sm-3 mr-5 min-width" placeholder="Speaker Contact Number..." formControlName="contact">
          <input type="text" class="form-control col-sm-5" placeholder="Speaker Designation..." formControlName="designation">
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"></label>
          <input type="text" class="form-control col-sm-3 mr-5 min-width" placeholder="Speaker Company Name..." formControlName="company">
          <textarea class="form-control col-sm-5" rows="5" placeholder="Speaker KeySkills.." formControlName="keyskills"></textarea>
        </div>
        <!-- <div class="form-row">
          <label class="col-sm-3 col-form-label">Choose Speaker Image</label>
          <input #file type="file" accept='image/*' (change)="preview(file.files)" class="form-control-file col-sm-9"
            formControlName="image" />
          <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div> -->
        <div class="text-right">
          <button type="submit" class="btn button-1 action-good" [disabled]="!createSpeakerForm.valid">Submit Details</button>
        </div>
      </form>
    </div>
  </div>
</div>

