<app-loader *ngIf="show"></app-loader>
<div>
  <ul class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/cases">Cases</a></li>
    <li><a class="active">Create Case Study </a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center">
        <p class="heading-secondary">Create Case Study</p>
      </div>
      <form [formGroup]="createCases">
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Client Name <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Client Name is required &#13;2. Client Name should be upto 40 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Client Name" formControlName="title" />
            <mat-error *ngIf="checkError('title', 'required')">(Client Name is required)</mat-error>
            <mat-error *ngIf="checkError('title', 'maxlength')">(Client Name should be upto 40 characters)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Customer Profile<span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Customer Profile is required &#13;2. Customer Profile should be upto 700 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="longDescription" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('longDescription', 'required', true)" style="color: red; font-size: 12px;">
              (Customer Profile is required)
            </div>
            <div *ngIf="checkError('longDescription', 'maxlength', true)" style="color: red; font-size: 12px;">
              (Customer Profile be less than 700 characters)
            </div>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Service <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Services</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option *ngFor="let category of catagoryData" [value]="category">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('categoryId', 'required')">(Atleast one Service is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Select Industry <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Industry</mat-label>
            <mat-select multiple formControlName="tagList">
              <mat-option *ngFor="let tag of tagData" [value]="tag">{{ tag.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('tagList', 'required')">(Atleast one Industry is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9 text-right">
            <button type="button" class="btn btn-primary button-2 action-good" data-toggle="modal" data-target="#tagModal1">
              Add Industry
            </button>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Service Used <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="1. Service Used is required &#13;2. Service Used should be upto 500 characters"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-9">
            <ckeditor placeholder="Description..." formControlName="serviceUsed" class="example-full-width col-sm-9 p-0"></ckeditor>
            <div *ngIf="checkError('serviceUsed', 'required', true)" style="color: red; font-size: 12px;">
              (Service Used is required)
            </div>
            <div *ngIf="checkError('serviceUsed', 'maxlength', true)" style="color: red; font-size: 12px;">
              (Service Used should be upto 500 characters)
            </div>
          </div>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Targeted User <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <mat-label>Select Target User</mat-label>
            <mat-select formControlName="targetUserType">
              <mat-option *ngFor="let user of userList" [value]="user.id">
                {{ user.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="checkError('targetUserType', 'required')">(Atleast one Target User Type is required)</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <label class="col-sm-3 col-form-label">Create Date</label>
          <input [owlDateTimeTrigger]="regstartdt" [owlDateTime]="regstartdt" class="form-control col-sm-9"
            placeholder="Start Date" >
          <owl-date-time #regstartdt [pickerType]="'calendar'"></owl-date-time>
        </div> -->
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Expiration Date<span class="error">*</span></label>
          <div class="col-sm-9">
            <input
              [owlDateTimeTrigger]="startdt"
              [owlDateTime]="startdt"
              [min]="today"
              placeholder="Expiration Date & Time"
              formControlName="expiryDate"
              class="form-control"
            />

            <!-- <mat-error *ngIf="checkError('startDate', 'required')">(Event start date & time is required)</mat-error> -->
            <owl-date-time #startdt></owl-date-time>
            <div *ngIf="checkError('expiryDate', 'required', true)" style="color: red; font-size: 12px;">
              (Expiration date & time is required)
            </div>
          </div>
        </div>

        <!-- <div class="form-row">
          <label class="col-sm-3 col-form-label"> Image <span class="error">*</span></label>
          <div class="col-sm-7">
          <input type="file" class="form-control-file " formControlName="thumbnailImageUrl"
            (change)="fileProgress($event)" />
            <mat-error *ngIf="checkError('thumbnailImageUrl', 'pattern')" style="color:red;font-size: 12px;">(Image should be JPEG, JPG, PNG)</mat-error>
          </div>
            <div class="col-sm-2">
            <button class="btn btn-primary" (click)="uploadImage()" [disabled]="!imageValid">Upload File</button>
            <div *ngIf="fileUploadProgress">
              Upload progress: {{ fileUploadProgress }}
            </div>
          </div>
        </div> -->
        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Image <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Resolution: 480px X 240px &#13;Type: png/ jpg/ jpeg &#13;Size: 300 kB"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-7">
            <input type="file" class="form-control-file" formControlName="thumbnailImageUrl" (change)="fileProgress($event)" />
            <div *ngIf="checkError('thumbnailImageUrl', 'required', true)" style="color: red; font-size: 12px;">
              (Image is required)
            </div>
            <div *ngIf="checkError('thumbnailImageUrl', 'pattern')" style="color: red; font-size: 12px;">
              (Image should be JPEG, JPG, PNG)
            </div>
          </div>
          <div class="col-sm-2">
            <button
              type="button"
              class="btn btn-primary"
              [ngClass]="{ cursor: !imageValid }"
              (click)="uploadImage()"
              [disabled]="!imageValid"
            >
              Upload File
            </button>
            <div *ngIf="fileUploadProgress">Upload progress: {{ fileUploadProgress }}</div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="200" />
            </div>
          </div>
        </div>

        <div class="form-row my-3">
          <label class="col-sm-3 col-form-label"
            >Attachment <span class="error">*</span>
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Type: pdf only &#13;Size: Upto 12 MB"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <div class="col-sm-7">
            <input type="file" class="form-control-file" formControlName="downloadUrl" (change)="fileProgress2($event)" />
            <div *ngIf="checkError('downloadUrl', 'required', true)" style="color: red; font-size: 12px;">
              (Attachment is required)
            </div>
            <div *ngIf="checkError('downloadUrl', 'pattern')" style="color: red; font-size: 12px;">
              (Attachment should be pdf only)
            </div>
          </div>
          <div class="col-sm-2">
            <button
              type="button"
              class="btn btn-primary"
              [ngClass]="{ cursor: !imageValid2 }"
              (click)="uploadAttachment()"
              [disabled]="!imageValid2"
            >
              Upload File
            </button>
            <div *ngIf="fileUploadProgress">Upload progress: {{ fileUploadProgress }}</div>
          </div>
        </div>

        <!-- <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="200" />
            </div>
          </div>
        </div> -->

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Save as draft</label>
          <mat-slide-toggle class="example-full-width col-sm-9" formControlName="draft">Draft</mat-slide-toggle>
        </div>
        <div class="text-right">
          <button class="btn button-1 action-good" (click)="createCase()">
            Submit Details
          </button>
          <!-- <button type="submit" class="btn button-1 action-good" [disabled]="!createSpeakerForm.valid">Submit Details</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="tagModal1" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <button type="button" #closeModel class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addTagForm">
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Industry Name</label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Industry Name" formControlName="name" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Industry Keyword</label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Industry Keyword" formControlName="keywords" />
            </mat-form-field>
          </div>

          <div class="text-right">
            <button class="btn button-1 action-good" (click)="createTag()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
