<section class="blog">
  <div class="text-center">
    <p class="heading-secondary py-4">
Case Studies
    </p>
    </div>
  <div class="container-fluid">
<div class="row">
  <div class="col-md-6 pr-0">
      <div class="category-list-card">
          <div class="category-image">
              <img src="https://www.netmagicsolutions.com/data/casestudy/religare-log19-11-041572873968.jpg">
          </div>
          <div class="category-name">
              <h3>RELIGARE BROKING LTD.</h3>
              <p>Religare Broking Services reduces cost and complexity of data using NTT Com-Netmagic's Hybrid Storage Solution on AWS</p>
          </div>
           <!-- <div class="right-arrow-div">
             <i class="fa fa-angle-right"></i>
         </div> -->
      </div>
  </div>
  <div class="col-md-6 pl-0">
       <div class="category-list-card">
          <div class="category-image">
               <img src="https://www.netmagicsolutions.com/data/casestudy/iifl-wealth-logo19-11-041572874784.jpg">
          </div>
           <div class="category-name">
              <h3>IIFL WEALTH</h3>
              <p>The consistent performance benchmarked during POC assured IIFL Wealth with scalable performance.</p>

          </div>
         <!-- <div class="right-arrow-div">
             <i class="fa fa-angle-right"></i>
         </div> -->
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 pr-0">
      <div class="category-list-card">
          <div class="category-image">
              <img src="https://www.netmagicsolutions.com/data/casestudy/honor-logo19-12-021575269719.jpg">
          </div>
          <div class="category-name">
              <h3>SEQUELONE (HONO HR)</h3>
              <p>SequelOne (HONO HR) creates a scalable and future-proof data management strategy using NTT Com-Netmagic’s fully automated backup solution on AWS</p>
          </div>
           <!-- <div class="right-arrow-div">
             <i class="fa fa-angle-right"></i>
         </div> -->
      </div>
  </div>
  <div class="col-md-6 pl-0">
       <div class="category-list-card">
          <div class="category-image">
               <img src="https://www.netmagicsolutions.com/data/casestudy/daido-india-logo19-12-021575269097.jpg">
          </div>
           <div class="category-name">
              <h3>DAIDO INDIA</h3>
              <p>Daido India Reduces Cost and Complexity of Secondary Offsite Backup Using NTT Com-Netmagic's Backup Solution On AWS</p>

          </div>
         <!-- <div class="right-arrow-div">
             <i class="fa fa-angle-right"></i>
         </div> -->
      </div>
  </div>
</div>
</div>
</section>
