<app-loader *ngIf="show"></app-loader>
<div>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a (click)="Back()">Events</a></li>
    <li><a class="active">Event Preview</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="banner-image">
      <img
        [src]="getEventDetails.detailImageUrl"
        alt="No Image Available"
        width="100%"
        height="320px;"
        *ngIf="getEventDetails.detailImageUrl"
      />

      <!-- <button mat-icon-button class="btn" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <span class="fa fa-pencil" aria-hidden="true"></span>
      </button>
      <mat-menu #menu="matMenu">
        <button  mat-menu-item class="btn" (click)="getDetails(getEventDetails.id)">
          <span class="fa fa-copy"  >duplicate</span>
        </button>
        <button mat-menu-item class="btn" (click)="copyDetails(getEventDetails.id)" >
          <span class="fa fa-edit" >edit</span>
        </button>

      </mat-menu> -->
    </div>
    <div class="fab-container">
      <button mat-fab direction="down" class="fab-toggler" (click)="onToggleFab()">
        <i class="material-icons" direction="down" [@fabToggler]="{ value: fabTogglerState }">add</i>
        <!-- Animation here -->
      </button>
      <div [@speedDialStagger]="buttons.length">
        <!-- and here -->
        <button
          *ngFor="let btn of buttons"
          mat-mini-fab
          direction="down"
          class="fab-secondary"
          color="secondary"
          [matTooltip]="btn.tooltip"
          matTooltipPosition="left"
        >
          <i class="material-icons" (click)="duplicateEdit(btn.icon, getEventDetails.id)">{{ btn.icon }}</i>
        </button>
      </div>
    </div>
  </div>
  <!-- <div >
    <div class="col-sm-12 px-0">
      <div class="card">
        <div class="card-body">
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Publish</label>
          <mat-slide-toggle class="example-full-width col-sm-9" (change)="publishChanges()" [(ngModel)]="isPublish"></mat-slide-toggle>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Active</label>
          <mat-slide-toggle class="example-full-width col-sm-9" (change)="activeChange()" [(ngModel)]="isActive"></mat-slide-toggle>
        </div>
      </div>
        </div>
      </div>
  </div> -->
  <div class="row py-3" style="width: 100%;">
    <div class="col-sm-12 d-inline-flex">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Participants</h5>

            <ul class="list-group">
              <li class="list-group-item" *ngFor="let participant of getParticipantDetails | slice: 0:6; let ind = index">
                <a>
                  <div class="d-inline-flex" style="align-items: baseline;" (click)="jumpDetail(participant.id)">
                    {{ participant.name }}
                  </div>
                </a>
              </li>
            </ul>
            <div class="d-inline-flex py-2" style="width: 100%;">
              <div class="py-2 text-left" style="width: 50%;">
                <a class="blog-btn add-button" *ngIf="getParticipantDetails.length != 0" (click)="viewParticipant()">View All</a>
              </div>
              <div class="py-2 text-right" style="width: 50%;">
                <a class="blog-btn add-button" (click)="addParticipants()">Add New</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 px-0">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <label class="col-sm-2 col-form-label">Publish:</label>
              <mat-slide-toggle class="example-full-width col-sm-3" (change)="publishChanges()" [(ngModel)]="isPublish"> </mat-slide-toggle>

              <!-- <label class="col-sm-2 col-form-label">Status</label> -->
              <p class="card-text mb-0" style="font-weight: 500;">
                <span style="font-weight: 500;">Status - </span><span class="tags">{{ getEventDetails.eventStatus }}</span>
              </p>
              <!-- <mat-slide-toggle class="example-full-width col-sm-3" (change)="activeChange()" [(ngModel)]="isActive"> </mat-slide-toggle> -->
              <!-- <p class="card-text mb-0" style="font-weight: 500;">
                Event Status
                <span class="tags" *ngFor="let tag of getEventDetails.tags">{{ tag.name }}</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 16px;">
          <div class="card-body medium">
            <h5 class="card-title">{{ getEventDetails.title }}</h5>
            <!-- <h6>Description</h6> -->
            <p class="card-text" [innerHTML]="getEventDetails.detail">
              <span class="event-label">Description</span>
            </p>
            <p class="card-text mb-0" *ngIf="getEventDetails.categoryTypeId != null">
              <span style="font-weight: 500;">Category - </span>
              {{ getEventDetails.categoryTypeId.displayName }}
            </p>
            <p class="card-text mb-0" style="font-weight: 500;">
              Tags -
              <span class="tags" *ngFor="let tag of getEventDetails.tags">{{ tag.name }}</span>
            </p>
          </div>
          <div class="event-card-body-lg py-3">
            <div class="col-sm-12">
              <div class="col-sm-9 float-left px-0">
                <div class="text-left">
                  <p
                    *ngIf="
                      (getEventDetails.address1 != null && getEventDetails.isOnPremise) ||
                      (getEventDetails.isOnPremise && getEventDetails.isWebinar)
                    "
                  >
                    <span style="font-weight: 500;">Venue - </span>{{ getEventDetails.address1 }}
                  </p>
                  <p
                    *ngIf="
                      (getEventDetails.address2 != null && getEventDetails.isOnPremise) ||
                      (getEventDetails.isOnPremise && getEventDetails.isWebinar)
                    "
                  >
                    <span style="font-weight: 500;">Address - </span>{{ getEventDetails.address2 }}
                  </p>
                  <p
                    *ngIf="
                      (getEventDetails.address2 != null && getEventDetails.isOnPremise) ||
                      (getEventDetails.isOnPremise && getEventDetails.isWebinar)
                    "
                  >
                    <span style="font-weight: 500;" style="visibility: hidden;">Address - </span>{{ getEventDetails.city }},
                    {{ getEventDetails.country }},
                    {{ getEventDetails.pincode }}
                  </p>
                  <p
                    *ngIf="
                      (getEventDetails.webinarUrl != '' && getEventDetails.isWebinar) ||
                      (getEventDetails.isOnPremise && getEventDetails.isWebinar)
                    "
                  >
                    <span style="font-weight: 500;">Webinar URL - </span
                    ><a [href]="getEventDetails.webinarUrl" target="_blank">{{ getEventDetails.webinarUrl }}</a>
                  </p>
                  <p><span style="font-weight: 500;">Start Time - </span>{{ startTime }}</p>
                  <p><span style="font-weight: 500;">End Time - </span>{{ endTime }}</p>
                </div>
              </div>
              <div class="col-sm-3 float-right px-0">
                <div class="text-right">
                  <!-- <p>8 HRS</p> -->
                  <p *ngIf="getEventDetails.totalSeat != 0">Total Seats - {{ getEventDetails.totalSeat }}</p>
                  <!-- <p *ngIf="getEventDetails.noOfSubUsersAllow!= 0">No. of Subusers Allow - {{getEventDetails.noOfSubUsersAllow}}</p> -->
                  <!-- *ngIf="getEventDetails.noOfSubUsersAllow!= 0" -->
                </div>
              </div>
            </div>
          </div>
          <div class="event-card-body-lg py-3">
            <div class="col-sm-12">
              <h6>Terms & Conditions</h6>
              <small [innerHTML]="getEventDetails.policyTnc"></small>
              <!-- <small>{{getEventDetails.policyTnc}}</small> -->
            </div>
          </div>
          <div class="event-card-body-lg py-3" *ngIf="getEventDetails.policyFAQ != 0">
            <div class="col-sm-12">
              <h6>Policy FAQs</h6>
              <small [innerHTML]="getEventDetails.policyFAQ"></small>
              <!-- <small [innerHTML]="">{{getEventDetails.policyFAQ}}</small> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Speakers</h5>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let sdetails of speakers | sortBy: 'asc':'fullName'">
                <div class="d-inline-flex" style="align-items: baseline;" (click)="jumpDetail1(sdetails.id)">
                  <div class="mr-2">
                    <img _ngcontent-wbm-c23="" [src]="sdetails.profileImageUrl" alt="User Image" class="speaker-image" />
                  </div>
                  <a>{{ sdetails.fullName }}</a>
                </div>
              </li>
            </ul>
            <!-- <div class="py-2 text-right">
              <a class="blog-btn add-button" (click)="addSpeaker()">Add Speakers</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
