<div class="row">
  <div class="col-sm-12">
    <div class="banner-image">
      <img [src]="getEventDetails.detailImageUrl" alt="No Image Available" width="100%" height="250px;">
      <button class="btn"><span class="fa fa-pencil" aria-hidden="true"  (click)="(getEventDetails.id)"></span></button>
    </div>
  </div>
  <div class="row py-3" style="width: 100%;">
    <div class="col-sm-12 d-inline-flex">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Participants</h5>
            <div class="py-2 text-right">
              <a class="blog-btn add-button" (click)=viewParticipant()>View Participants</a>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let participant of getParticipantDetails">
                <div class="d-inline-flex" style="align-items: baseline;">
                  <div class="mr-2"><img _ngcontent-wbm-c23=""
                      src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image"
                      class="speaker-image"></div>
                  <a>{{participant.name}}</a>
                </div>
              </li>
            </ul>
            <div class="py-2 text-right">
              <a class="blog-btn add-button" (click)=addParticipants()>Add Participants</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 px-0">
        <div class="card">
          <div class="card-body medium">
            <h5 class="card-title">{{getEventDetails.title}}</h5>
            <p class="card-text">{{getEventDetails.detail}}</p>
            <p class="card-text mb-0">{{getEventDetails.targetUserType.name}}</p>
            <small *ngFor="let tag of getEventDetails.tags.name">{{tag.name}}</small>
          </div>
          <div class="event-card-body-lg py-3">
            <div class="col-sm-12">
              <div class="col-sm-6 float-left px-0">
                <div class="text-left">
                  <p>{{getEventDetails.address1}}</p>
                  <p>Sat 07 Mar - Sun 08 Mar</p>
                </div>
              </div>
              <div class="col-sm-6 float-right px-0">
                <div class="text-right">
                  <p>8 HRS</p>
                  <p>No. of Tickets - {{getEventDetails.totalSeat}}</p>
                  <p>No. of Subusers Allow - {{getEventDetails.noOfSubUsersAllow}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="event-card-body-lg py-3">
            <div class="col-sm-12">
              <h6>Terms & Conditions *</h6>
              <small>{{getEventDetails.policyTnc.description}}</small>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Speakers</h5>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let sdetails of getEventDetails.speakers">
                <div class="d-inline-flex" style="align-items: baseline;">
                  <div class="mr-2">
                    <img _ngcontent-wbm-c23="" src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg"
                      alt="User Image" class="speaker-image"></div>
                  <a>{{sdetails.fullName}}</a>
                </div>
              </li>
            </ul>
            <div class="py-2 text-right">
              <a class="blog-btn add-button">Add Speakers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
