<app-loader *ngIf="show"></app-loader>
<div>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a (click)="sendPage(null)">Product and Services</a></li>
    <ng-container *ngFor="let data of bradArray">
      <li>
        <a (click)="sendPage(data)">{{ data.displayName }}</a>
      </li>
    </ng-container>
    <li><a>Create Product & Services</a></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center" style="margin-bottom: 51px;">
        <p class="heading-secondary">{{ pageTitle }}</p>
      </div>

      <form [formGroup]="productServicesForm">
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Title <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Title" formControlName="displayName" value="" />
            <mat-error *ngIf="checkError('displayName', 'required')">(Title is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Description <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Description" formControlName="shortInformation" value="" />
            <mat-error *ngIf="checkError('shortInformation', 'required')">(Name is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Category
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Once the Product And Service added in Category it Can not be removed"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-slide-toggle class="example-full-width col-sm-9" formControlName="isCategory">Category</mat-slide-toggle>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Last Service
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="if the Option is toggled to true it will be your last Detail page"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-slide-toggle class="example-full-width col-sm-9" [ngModelOptions]="{ standalone: true }" [(ngModel)]="changeFlag"
            >Last Service</mat-slide-toggle
          >
        </div>

        <ng-container *ngIf="changeFlag">
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Detail</label>
            <div class="col-sm-9">
              <ckeditor placeholder="Detail" formControlName="detail" class="example-full-width col-sm-9 p-0"></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Implementation</label>
            <div class="col-sm-9">
              <ckeditor placeholder="Implementation" formControlName="implementation" class="example-full-width col-sm-9 p-0"></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Product Benefits</label>
            <div class="col-sm-9">
              <ckeditor placeholder="Product Benefits" formControlName="productBenefits" class="example-full-width col-sm-9 p-0"></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">NTT Differentiator</label>
            <div class="col-sm-9">
              <ckeditor
                placeholder="NTT Differentiator"
                formControlName="differentiator"
                class="example-full-width col-sm-9 p-0"
              ></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Testimonial URL </label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Testimonial URL" formControlName="testimonialUrl" value="" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label"
              >Choose Thumbnail Image
              <i
                class="fa fa-info-circle"
                aria-hidden="true"
                matTooltip="Resolution: 480px X 240px &#13;Type: png/ jpg/ jpeg &#13;Size: 300 kB"
                matTooltipPosition="right"
                matTooltipClass="custom-tooltip"
                style="font-size: 18px;"
              >
              </i>
            </label>
            <div class="col-sm-7">
              <input type="file" class="form-control-file" formControlName="thumbnailImageUrl" (change)="fileProgress($event)" />

              <div *ngIf="checkError('thumbnailImageUrl', 'pattern')" style="color: red; font-size: 12px;">
                (Image should be JPEG, JPG, PNG)
              </div>
            </div>
            <div class="col-sm-2">
              <button class="btn button-1 action-good" [ngClass]="{ cursor: !imageValid }" (click)="uploadImage()" [disabled]="!imageValid">
                Upload File
              </button>
            </div>

            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <div class="image-preview mt-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="200" />
              </div>
            </div>
          </div>
        </ng-container>
        <div class="text-right">
          <button type="submit" (click)="submit()" class="btn button-1 action-good">Submit Details</button>
        </div>
      </form>
    </div>
  </div>
</div>
