<app-loader *ngIf="show"></app-loader>
<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a href="/home">Home</a></li>
      <li><a (click)="sendPage(null)">Product and Services</a></li>
      <ng-container *ngFor="let data of bradArray">
        <li>
          <a (click)="sendPage(data)">{{ data.displayName | slice: 0:40 }}</a>
        </li>
      </ng-container>
      <li><a>Create Product & Services</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 py-4">
      <div class="text-center" style="margin-bottom: 51px;">
        <p class="heading-secondary">{{ pageTitle }}</p>
      </div>

      <form [formGroup]="productServicesForm">
        <div class="form-row">
          <label class="col-sm-3 col-form-label">Title <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Title" formControlName="displayName" value="" />
            <mat-error *ngIf="checkError('displayName', 'required')">(Title is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label">Description <span class="error">*</span></label>
          <mat-form-field class="example-full-width col-sm-9">
            <input matInput placeholder="Description" formControlName="shortInformation" value="" />
            <mat-error *ngIf="checkError('shortInformation', 'required')">(Name is required)</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Category
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="Once the Product And Service added in Category it Can not be removed"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-slide-toggle class="example-full-width col-sm-9" formControlName="isCategory">Category</mat-slide-toggle>
        </div>

        <div class="form-row">
          <label class="col-sm-3 col-form-label"
            >Last Service
            <i
              class="fa fa-info-circle"
              aria-hidden="true"
              matTooltip="if the Option is toggled to true it will be your last Detail page"
              matTooltipPosition="right"
              matTooltipClass="custom-tooltip"
              style="font-size: 18px;"
            >
            </i>
          </label>
          <mat-slide-toggle class="example-full-width col-sm-9" [ngModelOptions]="{ standalone: true }" [(ngModel)]="changeFlag"
            >Last Service</mat-slide-toggle
          >
        </div>

        <ng-container *ngIf="changeFlag">
          <div class="form-row">
            <label class="col-sm-3 col-form-label">Detail</label>
            <div class="col-sm-9">
              <ckeditor placeholder="Detail" formControlName="detail" class="example-full-width col-sm-9 p-0"></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Implementation</label>
            <div class="col-sm-9">
              <ckeditor placeholder="Implementation" formControlName="implementation" class="example-full-width col-sm-9 p-0"></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Product Benefits</label>
            <div class="col-sm-9">
              <ckeditor placeholder="Product Benefits" formControlName="productBenefits" class="example-full-width col-sm-9 p-0"></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">NTT Differentiator</label>
            <div class="col-sm-9">
              <ckeditor
                placeholder="NTT Differentiator"
                formControlName="differentiator"
                class="example-full-width col-sm-9 p-0"
              ></ckeditor>
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Add Testimonial URL <span class="error">*</span></label>
            <div class="col-sm-7 mr-5">
              <form [formGroup]="craeteUrlForm">
                <div class="form-row p-0">
                  <mat-form-field class="example-full-width col-sm-12">
                    <input matInput placeholder="Testimonial URL" onfocus="this.value=''" formControlName="testimonialUrl" value="" />

                    <mat-error *ngIf="checkError1('testimonialUrl', 'required')">(Testimonial URL is required)</mat-error>
                    <mat-error *ngIf="checkError1('testimonialUrl', 'pattern')">(URL is not valid)</mat-error>
                  </mat-form-field>
                </div>
              </form>
            </div>
            <div class="col-sm-1 text-right ml-2">
              <button class="btn button-1 action-good" style="border-radius: 20px; padding: 4px 12px; height: 34px;" (click)="createUrl()">
                <span style="cursor: default; font-size: 10px;">
                  <i class="fa fa-plus" aria-hidden="true" style="font-size: 0.75rem;"></i>
                </span>
              </button>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <table class="table" style="background-color: white;">
                <thead>
                  <tr>
                    <th width="7%">S.No.</th>

                    <th>URL</th>
                    <th width="10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of urlArray; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.url }}</td>

                    <td>
                      <!-- <button class="btn btn-warning reject mr-2" data-toggle="modal"
                      data-target="#agendaModal" (click)="editUrl(data,i)" >
                        <span style="cursor: default; font-size: 10px;">
                          <i class="fa fa-pencil" style="font-size: 1rem; color: white;"></i>
                        </span>
                      </button> -->
                      <!-- (click)="delete(i)" -->
                      <button
                        class="btn btn-danger reject"
                        style="border-radius: 20px; padding: 3px 9px;"
                        href="#myModal"
                        data-toggle="modal"
                        (click)="getDeleteId(data, i)"
                        #confirmBox
                      >
                        <span style="cursor: default; font-size: 10px;">
                          <i class="fa fa-minus" style="font-size: 1rem;"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <div class="form-row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 text-right">
              <button
                type="button"
                class="btn button-2 action-good"
                data-toggle="modal"
                data-target="#agendaModal"
                (click)="cleanUrl()"
              >
                Add Testimonial Url
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Serial No.</th>

                    <th>Url</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of urlArray; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{data.url}}</td>

                    <td>
                      <button class="btn btn-warning reject mr-2" data-toggle="modal"
                      data-target="#agendaModal" (click)="editUrl(data,i)" >
                        <span style="cursor: default; font-size: 10px;">
                          <i class="fa fa-pencil" style="font-size: 1rem; color: white;"></i>
                        </span>
                      </button>

                      <button class="btn btn-danger reject mr-2" href="#myModal" data-toggle="modal" (click)="getDeleteId(data,i)" #confirmBox>
                        <span style="cursor: default; font-size: 10px;" >
                          <i class="fa fa-trash" style="font-size: 1rem;"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->

          <div class="form-row">
            <label class="col-sm-3 col-form-label"
              >Choose Thumbnail Image
              <i
                class="fa fa-info-circle"
                aria-hidden="true"
                matTooltip="Resolution: 480px X 240px &#13;Type: png/ jpg/ jpeg &#13;Size: 300 kB"
                matTooltipPosition="right"
                matTooltipClass="custom-tooltip"
                style="font-size: 18px;"
              >
              </i>
            </label>
            <div class="col-sm-7">
              <input type="file" class="form-control-file" formControlName="thumbnailImageUrl" (change)="fileProgress($event)" />

              <div *ngIf="checkError('thumbnailImageUrl', 'pattern')" style="color: red; font-size: 12px;">
                (Image should be JPEG, JPG, PNG)
              </div>
            </div>
            <div class="col-sm-2 text-right">
              <button class="btn button-1 action-good" [ngClass]="{ cursor: !imageValid }" (click)="uploadImage()" [disabled]="!imageValid">
                Upload File
              </button>
            </div>

            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <div class="image-preview mt-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="200" />
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col-sm-12 text-right mt-3">
          <button type="submit" (click)="submit()" class="btn button-1 action-good">Submit Details</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="width: 100%;">
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <button type="button" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this url record?</p>
      </div>
      <div class="modal-footer" style="justify-content: center; border: none;">
        <button type="button" class="btn btn-info" data-dismiss="modal" #closedeleteModal>Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteConfirm()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <button type="button" #closeModelUrl class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h5 class="modal-title mb-2">Testimonial Url</h5>
        </div>
        <form [formGroup]="craeteUrlForm">

          <div class="form-row">
            <label class="col-sm-3 col-form-label">Testimonial URL </label>
            <mat-form-field class="example-full-width col-sm-9">
              <input matInput placeholder="Testimonial URL" formControlName="testimonialUrl" value="" />
              <mat-error *ngIf="checkError1('testimonialUrl', 'required')">(Testimonial URL is required)</mat-error>
              <mat-error *ngIf="checkError1('testimonialUrl', 'pattern')">(URL is not valid)</mat-error>
            </mat-form-field>
          </div>
          <div class="text-right">
            <button class="btn button-1 action-good" (click)="createUrl()">
              Submit Details
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
